{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}

{% block content %}
    <div>
        {% include '@SyliusShop/Order/_summary.html.twig' %}

        {% if order.paymentState in ['awaiting_payment'] %}
            {{ form_start(form, {'action': path('sylius_shop_order_show', {'tokenValue': order.tokenValue}), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
            <input type="hidden" name="_method" value="PUT" />

            {% include '@SyliusShop/Checkout/SelectPayment/_form.html.twig' %}
            {% if form.payments|length %}
                <button type="submit" class="btn btn-primary">
                    {{ 'sylius.ui.pay'|trans }}
                </button>
            {% endif %}

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        {% else %}
            {{ messages.info('sylius.ui.you_can_no_longer_change_payment_method_of_this_order') }}
        {% endif %}
    </div>

    {% include '@SyliusShop/Common/Order/_summary.html.twig' %}
{% endblock %}
