{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% block content %}
    <div class="" style="text-align: center; margin-bottom: 40px">
        {% set lastPayment = order.payments.last() %}
        <span class="circled-check">{{ icons.success }}</span>
        <h1 style="line-height: 44px;">{{ 'app.thank_you.order_submitted'|trans }}</h1>

        {{ sonata_block_render_event('sylius.shop.order.thank_you.after_message', {'order': order}) }}

        <p class="item-subheader" style="margin: auto; margin-bottom: 20px">{{ 'app.thank_you.order_will_be_sent'|trans }} {{ order.customer.email }}</p>

        <a href="{{ path('sylius_shop_order_show', {'tokenValue': order.tokenValue}) }}" class="btn btn-primary">{{ 'sylius.ui.view_your_order_or_change_payment_method'|trans }}</a>
        {% if order.customer.user is null %}
            <a href="{{ path('sylius_shop_register_after_checkout', {'tokenValue': order.tokenValue}) }}" class="btn btn-secondary">
                {{ 'sylius.ui.create_an_account'|trans }}
            </a>
        {% endif %}
    </div>

    {% include '@SyliusShop/Common/Order/_summary.html.twig' %}
{% endblock %}
