.navbar a.nav-link {
    text-transform: uppercase;
    color: $headings-color;
    font-weight: 500;

    &:hover {
        color: $primary;
    }
}

.logo {
    @include media-breakpoint-up(md) {
        width: 160px;
    }

    @include media-breakpoint-down(sm) {
        width: 130px;
    }
}

.main-content > :first-child:not(nav):not(.nav) {
    margin-top: map-get($spacers, 4);
}


.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
}

.loadable.loading .loading-overlay { display: flex; }


label.required {
    &::after {
        content: '*';
        display: inline-block;
        padding-left: 4px;
        color: #E11C5F;
    }
}

.btn-icon {
    padding-right: 5px;
    padding-left: 5px;
    //font-size: $font-size-lg;
}

#slider {
    margin: 0 16px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.footer {
    &__grid {
        display: grid;
        @media (min-width: $breakpoint-l) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        h4 {
            margin-top: 15px;
            @media (min-width: $breakpoint-l) {
                margin-top: 0;
            }
            font-size: 16px;
            text-transform: uppercase;
        }
        .column {
            .list {
                display: flex;
                flex-flow: column nowrap;
                margin-top: 15px;
            }
        }
    }
}

.search-result-grid {
    margin: 30px 0;
    @media (min-width: $breakpoint-m) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
    @media (min-width: $breakpoint-l) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__item {
        display: block;
        text-align: center;
        &:hover, &:focus {
            text-decoration: none;
        }
        &__img {
            border-top-left-radius: calc(0.25rem - 1px);
            border-top-right-radius: calc(0.25rem - 1px);
            width: 100%;
            height: auto;
        }
        &__content {
            padding: 1.25rem;
            &__title {
                color: $black;
            }
        }
    }
}

.filter-aside {
    margin-top: 25px;
}

.search-result-pagination {
    display: flex;
    justify-content: flex-end;
    .pagination {
        .item {
            margin: 0 5px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
.banner-image {
    max-width: 100%;
}

.filter-container {
    label {
        font-weight: 600;
        text-transform: uppercase;
    }
    .checkbox {
        label {
            font-weight: 300;
        }
    }
    a, button {
        display: inline-block;
        @media (min-width: $breakpoint-m) {
            margin: 10px 0;
        }
    }
    .dropdown .fields {
        max-height: 100px;
        overflow-y: auto;
    }
    .field {
        margin-top: 15px;
    }
}

.control {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: $white;
    border: 1px solid $gray-300;
}

.control__indicator--radio {
    width: 26px;
    height: 26px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input:not([disabled]) ~ .control__indicator,
.control input:focus ~ .control__indicator {
    border-color: $gray-300;
}
.control input:disabled ~ .control__indicator {
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: "";
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 12px;
    border: solid $primary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: $primary;
}

.control--radio__text {
    margin-left: 10px;
    font-size: 16px;
    line-height: 24px;
}

.control--checkbox__text {
    margin-left: 5px;
}

/* end base styles */
