{% form_theme form '@SyliusShop/Form/theme.html.twig' %}
<h2 class="h1">
    {{ 'app.quote.title'|trans }}
</h2>
<form method="post" action="{{ path('quote_submit', {locale: app.request.locale}) }}" id="quote-form">
    <div class="row">
        <div class="col-xs-12 col-md-8 mx-auto form-inner d-flex align-items-center flex-wrap flex-column">
            <input type="hidden" name="quote[_token]" value="{{ csrf_token('quote_submit') }}"/>
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            <div class="note">
                {{ 'app.quote.phone_note'|trans }}
            </div>
            {{ form_row(form.name) }}

            {% if 'product' not in disable %}
                {{ form_row(form.product) }}
            {% endif %}

            <div class="form-group-narrow">
            {% if 'deadline' not in disable %}
                {{ form_row(form.deadline) }}
            {% endif %}
            </div>
            <div class="form-group-narrow">
            {% if 'quantity' not in disable %}
                {{ form_row(form.quantity) }}
            {% endif %}
            </div>

            {{ form_row(form.note) }}

            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary" id="quote-submit">
                    {{ 'app.ui.get_a_quote'|trans }}
                </button>
            </div>
        </div>
    </div>
</form>
