<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>

<script type="text/javascript">
    var slider = new Slider('#leadQuantity', {
        min: 10,
        max: 20000,
        scale: 'logarithmic',
        step: 10
    });
</script>
