<div class="modal fade" id="lead-catcher" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="h2">{{ 'app.lead_catcher.header'|trans }}</h4>
                <div class="note">{{ 'app.lead_catcher.tell_more'|trans }}</div>
                <div class="row">
                    <form action="{{ path('quote', {locale: app.request.locale}) }}" method="get">
                        <div class="col-12">
                            <div class="form-group quantity-slider">
                                <label for="leadQuantity" class="catcher-label">{{ 'app.lead_catcher.quantity'|trans }}</label>
                                <input type="text" class="custom-range" id="leadQuantity" name="quantity" data-slider-value="50">
                            </div>
                            <div class="slider-label-wrapper">
                                <div class="slider-tick-label-container row">
                                    <div class="slider-tick-label col-3 quantites">0</div>
                                    <div class="slider-tick-label col-3 quantites">180</div>
                                    <div class="slider-tick-label col-3 quantites">20k</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leadQueantity" class="catcher-label">{{ 'app.lead_catcher.deadline'|trans }}</label>
                                <input type="date" name="deadline" max="2300-12-31" required
                                       min="2000-01-01" class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary mx-auto" type="submit">
                                    {{ 'app.lead_catcher.continue'|trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
