{% set node_breadcumbs = omni_sylius_get_breadcrumbs() %}
{% set ancestors = taxon.ancestors|reverse %}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
        {% for breadcrumb in omni_sylius_get_breadcrumbs() %}
            {% set url = omni_sylius_get_node_url(breadcrumb.node) %}

            <li class="breadcrumb-item{% if breadcrumb.current %} active{% endif %}">
            {% if breadcrumb.current or not url.url %}
                {{ breadcrumb.node.title }}
            {% else %}
                <a href="{{ url.url }}">{{ breadcrumb.node.title }}</a>
            {% endif %}
            </li>
        {% else %}
            {% for ancestor in ancestors %}
                {% if ancestor.isRoot() %}
                    <li class="breadcrumb-item">{{ ancestor.name }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}">{{ ancestor.name }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="breadcrumb-item active">{{ taxon.name }}</li>
        {% endfor %}
    </ol>
</nav>
