{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}
{% include '@SyliusShop/Taxon/_breadcrumb.html.twig' %}

{% set node = omni_sylius_get_request_node() %}
{{ sonata_block_render_event('sylius.shop.taxon.header.before', {'taxon': taxon, 'node': node}) }}

{{ headers.default(node.title|default(taxon.name), '', taxon.description) }}

{{ sonata_block_render_event('sylius.shop.taxon.header.after', {'taxon': taxon, 'node': node}) }}
