{% set headerNode = omni_sylius_get_node_with_children_by_type('main_menu', 6) %}

{% set renderGridChildren = true %}

{% for node in headerNode.children|default if node.enabled and node.code == 'category_tree' %}
    {% for categoryNode in node.children if categoryNode.enabled %}
        {% if categoryNode.children is empty %}
            {% set renderGridChildren = false %}
        {% else %}
            {% set renderGridChildren = true %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% macro node_item_grid(node) %}
    {% import _self as macros %}
    {% if node.hasEnabledChildren %}
        <div class="child-categories__list">
            {% set url = omni_sylius_get_node_url(node) %}
            <a{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %} class="child-categories__list__item child-categories__list__item--title">{{ node.translation.title }}</a>
            {% for child in node.children if child.enabled %}
                {% set url = omni_sylius_get_node_url(child) %}
                <a{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %} class="child-categories__list__item">{{ child.translation.title }}</a>
            {% endfor %}
        </div>
    {% else %}
        {% set url = omni_sylius_get_node_url(node) %}
        <a{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %} class="child-categories__list__item">{{ node.translation.title }}</a>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% macro node_item_accordion(node) %}
    {% import _self as macros %}
    {% if node.hasEnabledChildren %}
        <div class="hamburger-menu__list__item hamburger-menu__list__item--accordion">
            <div class="hamburger-menu__list__item--accordion__top" id="heading{{ node.code }}">
                {% set url = omni_sylius_get_node_url(node) %}
                <a class="hamburger-menu__list__item--accordion__top__text"{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %}>{{ node.translation.title }}</a>
                <button class="hamburger-menu__list__item--accordion__top__btn" data-toggle="collapse" data-target="#collapse{{ node.code }}" aria-expanded="true" aria-controls="collapse{{ node.code }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                </button>
            </div>
            <div id="collapse{{ node.code }}" class="hamburger-menu__list__item--accordion__bottom collapse" aria-labelledby="heading{{ node.code }}">
                <div class="hamburger-menu__list__item--accordion__bottom__content">
                    {% for child in node.children if child.enabled %}
                        {{ macros.node_item_accordion(child) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="hamburger-menu__list__item--accordion__top" id="heading{{ node.code }}">
            {% set url = omni_sylius_get_node_url(node) %}
            <a class="hamburger-menu__list__item--accordion__top__text"{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %}>{{ node.translation.title }}</a>
        </div>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

<nav class="category-menu category-menu--mobile">

    <div class="category-menu--mobile__top">
        <div class="category-menu--mobile__top__actions">
            {% if is_granted('ROLE_USER') %}
                <div>{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</div>
                <a href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
                <span class="px-1 text-muted">|</span>
                <a href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.login'|trans }}</a>
                <span class="px-1 text-muted">|</span>
                <a href="{{ path('sylius_shop_register') }}">{{ 'sylius.ui.register'|trans }}</a>
            {% endif %}
        </div>
        <button hamburgerMenuClose class="category-menu--mobile__top__close-btn hamburger-close"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg></button>
    </div>

    <form action="{{ path('omni_sylius_search') }}" class="input-group category-menu--mobile__top__form" method="get">
        <input type="text" id="search" class="form-control" placeholder="{{ 'shop24.ui.search_placeholder'|trans }}"  name="q" value="{{ searchTerm|default('') }}">
        <i class="search link icon"></i>
    </form>

    <div class="hamburger-menu">

        {% for node in headerNode.children|default([]) if node.enabled and node.code == 'category_tree' %}
            {% for categoryNode in node.children if categoryNode.enabled %}
                {{ macros.node_item_accordion(categoryNode) }}
            {% endfor %}
        {% endfor %}

        <div class="divider div-transparent div-dot"></div>

        <ul class="hamburger-menu__list">

            {% for node in headerNode.children|default([]) if node.enabled %}
                {% set url = omni_sylius_get_node_url(node) %}
                <li class="hamburger-menu__list__item">
                    <a class="hamburger-menu__list__item__link"{% if url.url %} href="{{ url.url }}"{% if url.target%} target="{{ url.target }}"{% endif%}{% endif %}>
                        <span class="hamburger-menu__list__item__link__text">
                            {{ node.translation.title }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
</nav>

<nav class="category-menu category-menu--desktop">
    <div class="category-menu__inner">
        <div class="category-menu__left">
            <div class="category-menu__left__category-btn">
                <svg class='category-menu__left__category-btn__icon' xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                </svg>
                <span class="category-menu__left__category-btn__text noselect">
                    {{ 'shop24.ui.product_categories'|trans }}
                </span>
                <div class="category-dropdown {% if renderGridChildren == false %} category-dropdown--no-child-grid {% endif %}">
                    <div class="toplevel-categories">
                        {% for node in headerNode.children|default if node.enabled and node.code == 'category_tree' %}
                            {% for categoryNode in node.children if categoryNode.enabled %}
                                {% set url = omni_sylius_get_node_url(categoryNode) %}
                                <a{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %}
                                    class="noselect toplevel-categories__item{% if loop.first %} toplevel-categories__item--active {% endif %}"
                                    topLevelCategoryId="{{ categoryNode.id }}"
                                >{{ categoryNode.translation.title }}
                                </a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="child-categories">
                        {% for node in headerNode.children|default if node.enabled and node.code == 'category_tree' %}
                            {% for categoryNode in node.children if categoryNode.enabled %}
                                <div
                                    class="child-categories__grid{% if loop.first %} child-categories__grid--active child-categories__grid--visible {% endif %}"
                                    childCategoryGridId="{{ categoryNode.id }}"
                                >
                                    {% for childCategoryNode in categoryNode.children if childCategoryNode.enabled %}
                                        <div class="col-3 child-categories__grid__item">
                                            {{ macros.node_item_grid(childCategoryNode) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="category-menu__right">
            {% for node in headerNode.children|default([]) if node.enabled and node.code != 'category_tree' %}
                {% set url = omni_sylius_get_node_url(node) %}
                <a class="category-menu__right__item"{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %}>
                    <span class="category-menu__right__item__text">
                        {{ node.translation.title }}
                    </span>
                    <span class="category-menu__right__item__border"></span>
                </a>
            {% endfor %}
        </div>
    </div>
</nav>
