{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(cart) %}
{% set taxIncluded = sylius_order_tax_included(cart) %}
{% set taxExcluded = sylius_order_tax_excluded(cart) %}

<div class="card mb-3">
    <div class="card-header">
        {{ 'sylius.ui.summary'|trans }}
    </div>
    {{ sonata_block_render_event('sylius.shop.cart.summary.totals', {'cart': cart}) }}

    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ 'sylius.ui.items_total'|trans }}:
            <span>{{ money.convertAndFormat(itemsSubtotal) }}</span>
        </li>

        {% if cart.orderPromotionTotal %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ 'sylius.ui.discount'|trans }}:
            <span>{{ money.convertAndFormat(cart.orderPromotionTotal) }}</span>
        </li>
        {% endif %}

        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ 'shop24.ui.estimated_shipping_cost'|trans }}:
            <span>
                {% if cart.getAdjustmentsTotal('shipping') > cart.shippingTotal %}
                    <small><s>{{ money.convertAndFormat(cart.getAdjustmentsTotal('shipping')) }}</s></small>
                {% endif %}
                {{ money.convertAndFormat(cart.shippingTotal) }}
            </span>
        </li>

        {% if cart.getAdjustmentsTotal(constant('App\\Entity\\Order\\Adjustment::SERVICE_FEE_ADJUSTMENT')) > 0 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ 'shop24.ui.service_fee'|trans }}:
                <span>
                    {{ money.convertAndFormat(cart.getAdjustmentsTotal(constant('App\\Entity\\Order\\Adjustment::SERVICE_FEE_ADJUSTMENT'))) }}
                </span>
            </li>
        {% endif %}

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>{{ 'sylius.ui.order_total'|trans }} <br> ({{ 'shop24.ui.cart_pvm_msg'|trans }} 21%):</strong>
            <span class="h3">{{ money.convertAndFormat(cart.total) }}</span>
        </li>

        {% if cart.currencyCode is not same as(sylius.currencyCode) %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ 'sylius.ui.base_currency_order_total'|trans }}:
            <span>{{ money.format(cart.total, cart.currencyCode) }}</span>
        </li>
        {% endif %}
    </ul>
</div>
