{# render card image #}
{% macro card_img(imgPath, small) %}
    <div class="card-bg-img {% if small %}bg--small{% endif %}"
         style="background-image: url({{ imgPath|imagine_filter('omni_sylius_banner') }});"
    ></div>
{% endmacro %}

{# render card body #}
{% macro card_body(content, contentBackground, size, contentPosition) %}
    <div class="card-body body--{{ contentPosition }}"
         style="{{ size }} background-color: {{ contentBackground }}"
    >
        {#<h5 class="card-title">{{ content|raw }}</h5>#}
        {{ content|raw }}
    </div>
{% endmacro %}

{# render grid col-12 #}
{% macro one_col(image) %}
    {% import _self as card %}

    <div class="col-12">
        <div class="card">
            <a class="card-link" href="{{ image.translation.link|default('javascript:;') }}">
                {{ card.card_img(image.path, false) }}

                {% if image.contentSpace is not null and image.contentSpace > 0 %}
                    {# if position is top or bottom, contentSpace is height #}
                    {% set size = 'height: ' ~ image.contentSpace|number_format ~ '%;' %}
                    {% set contentPosition = image.contentPosition %}

                    {# if position is left or right, contentSpace is width #}
                    {% if contentPosition == 'left' or contentPosition == 'right' %}
                        {% set size = 'width: ' ~ image.contentSpace|number_format ~ '%;' %}
                    {% endif %}

                    {{ card.card_body(image.content, image.contentBackground, size, contentPosition) }}
                {% endif %}
            </a>
        </div>
    </div>
{% endmacro %}

{# render grid col-6 #}
{% macro two_cols(image, isSmallImg) %}
    {% import _self as card %}

    <div class="col-6">
        <div class="card">
            <a class="card-link" href="{{ image.translation.link|default('javascript:;') }}">
                {{ card.card_img(image.path, isSmallImg) }}

                {% if image.contentSpace is not null and image.contentSpace > 0 %}
                    {# contentSpace is height #}
                    {% set size = 'height: ' ~ image.contentSpace|number_format ~ '%;' %}
                    {% set contentPosition = image.contentPosition %}

                    {# if position is left or right, set it to bottom #}
                    {% if contentPosition == 'left' or contentPosition == 'right' %}
                        {% set contentPosition = 'bottom' %}
                    {% endif %}

                    {{ card.card_body(image.content, image.contentBackground, size, contentPosition) }}
                {% endif %}
            </a>
        </div>
    </div>
{% endmacro %}

{# render grid special layout for 3 columns #}
{% macro three_cols(image, counter) %}
    {% import _self as card %}

    {% if counter == 1 or counter == 2 %}
        <div class="col-6">
    {% endif %}

    <div class="card">
        <a class="card-link" href="{{ image.translation.link|default('javascript:;') }}">
            {% set isSmall = (counter == 2 or counter == 3) ? true : false %}
            {{ card.card_img(image.path, isSmall) }}

            {% if image.contentSpace is not null and image.contentSpace > 0 %}
                {# contentSpace is height #}
                {% set size = 'height: ' ~ image.contentSpace|number_format ~ '%;' %}
                {% set contentPosition = image.contentPosition %}

                {# if position is left or right, set it to bottom #}
                {% if contentPosition == 'left' or contentPosition == 'right' %}
                    {% set contentPosition = 'bottom' %}
                {% endif %}

                {{ card.card_body(image.content, image.contentBackground, size, contentPosition) }}
            {% endif %}
        </a>
    </div>

    {% if counter == 1 or counter == 3 %}
        </div>
    {% endif %}
{% endmacro %}

{% import _self as row %}

{% set imagesCounter = 0 %}
{% for banner in banners if banner.hasChannelCode(options['channel']) %}
    {% for image in banner.images %}
        {% set imagesCounter = imagesCounter + 1 %}
    {% endfor %}
{% endfor %}

{% if imagesCounter %}
    <div class="col-12 col-md-6 banners-grid">
        <div class="row">
            {% set counter = 0 %}
            {% for banner in banners if banner.hasChannelCode(options['channel']) %}
                {% for image in banner.images %}
                    {% set counter = counter + 1 %}

                    {% if imagesCounter == 1 %}
                        {{ row.one_col(image) }}
                    {% elseif imagesCounter == 2 %}
                        {{ row.two_cols(image, false) }}
                    {% elseif imagesCounter == 3 %}
                        {{ row.three_cols(image, counter) }}
                    {% elseif imagesCounter > 3 and counter < 5 %}
                        {{ row.two_cols(image, true) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}
