{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<div class="swiper-container" id="recommended-products-slider">
    <div class="swiper-wrapper">
        {% for product in products %}
            <div class=" swiper-slide col-6 col-lg-3">
                {% include '@SyliusShop/Product/_boxSlide.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <div class="swiper-button-prev">{{ icons.chevronLeft() }}</div>
    <div class="swiper-button-next">{{ icons.chevronRight() }}</div>
</div>
