body {
    font-family: $primary-font-style;
    line-height: 20px;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.h1 {
    color: $third;
    font-family: $primary-font-style;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 44px;
    padding: 5rem 0 2.125rem;
    text-align: center;
}

.h2 {
    color: $third;
    font-family: $primary-font-style;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
}

.h1 {
    color: $third;
    font-family: $primary-font-style;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 44px;
    padding: 5rem 0 2.125rem;
    text-align: center;
}

.fb-login {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    width: 130px;

    margin: 0 15px 20px;
}

.google-login {
    background-color: #db4437 !important;
    border-color: #db4437 !important;
    width: 130px;

    margin: 0 15px 20px;
}

.primary {
    color: $primary;
}

.soc-icon {
    height: 20px;
}

.text-divider {
    height: 28px;
    position: relative;
    box-sizing: border-box;
    display: block;

    .text-divider__info {
        background-color: #fff;
        color: #666;
        font-size: 16px;
        padding: 0 5px;
        position: absolute;
        left: 50%;
        text-transform: uppercase;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
    }

    .text-divider__line {
        border-top: 1px solid #e7e7e7;
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        z-index: 0;
    }
}

.logo {
    height: 60px;
    width: auto;
}

.quote-alert {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    display: none
}

.thank-you-body {
    //background-image: url(/img/drawing-2.png);
    background-size: 50%;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position-x: right;
    background-position-y: bottom;
}

.spinner {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    display: none;

    .spinner-img {
        height: 50px;
    }
}

.cart-toggle {
    &:hover {
        text-decoration: none;
    }
}

@include media-breakpoint-down(md) {
    .mobile-hidden {
        display: none;
    }

    .mobile-header {
        display: inline-flex;
    }
}

.header-icons-container {
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}

.header-icon {
    width: 20px !important;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: #21282C;
}

.show {
    .header-primary {
        border-bottom: 2px solid $primary;
        color: $primary;
    }
}

.header-primary, .navbar-item {
    color: $third;
    font-weight: bold;
    margin: 0 0.625rem;
    padding: 0 0 2.625rem;
    position: relative;
    z-index: 1001; // to overlay dropdown

    &:hover {
        color: $primary;
    }

    &:first-child {
        margin-left: 0;
    }
}

.primary-button {
    color: $white;
    font-family: $primary-font-style;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    height: 30px;
    border-radius: 4px;
    background-color: $primary;
    padding: 5px 10px;

    &:hover {
        text-decoration: none;
        color: #B5CFD7;
    }
}

.secondary-button {
    border: 1px solid $border-color;
    border-radius: 4px;
    color: $third;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    min-width: 160px;
    text-align: center;
}

.text {
    color: $third;
    display: inline-block;
    font-size: $font-size-base;
    font-weight: bold;
    margin-bottom: 0;
}

.arrow-right {
    display: inline-block;
    width: 10px;
    height: 10px;
    //background-image: url(/img/arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.detatched-left {
    margin-left: 40px;

    @include media-breakpoint-down(lg) {
        margin-left: 20px;
    }
}

.bottom-navbar {
    @include media-breakpoint-up(md) {
        display: none;
    }

    @include media-breakpoint-down(md) {
        display: block;
    }
}

.top-navbar {
    display: inline-block;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.quantites {
    @include media-breakpoint-down(xs) {
        display: none;
    }
}

.simple-dropdown {
    background: none !important;
    border: none !important;
    padding: 0 !important;
}

#getQuoteHeader {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.dropdown {
    &--position {
        position: inherit;
    }
}

.dropdown-wrapper {
    left: 0;
    position: absolute;
    width: 100%;
}

.nav-items-wrapper {
    padding-top: 20px;
}

.item-image {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
}

.top-main-nav-dropdown {
    border: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin-top: 40px;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.top-main-nav-item {
    display: block;
    color: $primary;
    text-decoration: none;
    text-align: left;
    padding: 10px 20px;
    transition: .2s;
    white-space: nowrap;
    width: auto;

    &:hover {
        background-color: #fafafa;
        text-decoration: none;
    }
}

.hidden {
    display: none;
}

.inner-main-nav-item {
    display: block;
    width: auto;
    text-decoration: none;
    color: #404041;
    margin-top: 10px;
    transition: .2s;

    &:hover {
        color: #B5CFD7;
        text-decoration: none;
    }
}

.btn-secondary {
    background-color: #ffffff;
    border: 2px solid #5D8796;
    border-radius: 4px;
    color: #5D8796;
    font-family: $primary-font-style;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;

    &:hover {
        background-color: #B5CFD7;
        border: 2px solid #5D8796;
    }
}

.btn-primary {
    font-family: $primary-font-style;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    padding: 10px 20px;
}

.item-subheader {
    height: 40px;
    max-width: 460px;
    color: #646464;
    font-family: $primary-font-style;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}

.circled-check {
    color: white;
    background: #1abb9c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    line-height: 39px;
    text-align: center;
}

.cookie-notice {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: $white;
    color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px 14px;
    flex-flow: row nowrap;

    @include media-breakpoint-down(md) {
        padding: 20px;
    }
    &__text {
        @include media-breakpoint-down(md) {
            height: 100px;
            overflow: scroll;
            margin: 10px 0;
        }
        a {
            white-space: nowrap;
        }
    }
}

.footer {
    &__grid {
        .header {
            color: $black;
            font-weight: bold;
            margin-bottom: 0;
            padding-bottom: 17px;
            text-transform: initial;
        }
    }

    .item {
        display: block;
        padding: 5px 0;
    }

    .copyright {
        color: $secondary;
        font-family: $secondary-font-style;
        line-height: 18px;
        padding-left: 15px;
        padding-top: 80px;
    }
}

.img-square {
    width: 450px;
    height: 450px;

    @include media-breakpoint-down(lg) {
        width: 400px;
        height: 400px;
    }

    @include media-breakpoint-down(md) {
        width: 300px;
        height: 300px;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
