.banners-grid {
    padding: 40px 0;

    @include media-breakpoint-up(md) {
        padding: 60px 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 80px 0;
    }

    .card {
        border: none;
        border-radius: 0;
        height: 400px;
        margin-bottom: 30px;
    }

    .card-link {

    }

    .card-bg-img {
        background-position: top center;
        background-size: cover;
        height: 400px;
    }

    .card-body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        &.body--left,
        &.body--right,
        &.body--top,
        &.body--bottom {
            display: flex;
        }

        &.body--left,
        &.body--right {
            height: 100%;
            top: 0;
        }

        &.body--left {
            left: 0;
        }

        &.body--right {
            right: 0;
        }

        &.body--top,
        &.body--bottom {
            width: 100%;
            left: 0;
        }

        &.body--top {
            top: 0;
        }

        &.body--bottom {
            bottom: 0;
        }
    }

    .card-title {
        font-size: 21px;
        font-weight: $font-weight-bold;
        margin-bottom: 0;
    }

    .banners-grid__btn {
        border: 2px solid $white;
        color: $white;
        font-size: 14px;
        padding: 10px 30px;
        text-align: center;
    }
}

.banners-slider {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
}

.carousel-item-link__img {
    width: 100% !important;
}

.banners-three-columns {
    margin-top: 10px;
    margin-bottom: 20px;

    .three-column-card-img {
        width: 100%;
    }
}

.top-banner-wrapper {

    .banner-line {
        text-align: center;
        padding: 12px 0;
    }

    p {
        margin: 0;
    }
}

.four-columns-card {

    @include media-breakpoint-up(md) {
        padding: 0 7.5px;

        &:first-child {
            padding-left: 15px;
        }
        &:last-child {
            padding-right: 15px;
        }
    }

    @include media-breakpoint-down(md) {
        text-align: center;
        padding-bottom: 15px;
    }
}

.four-columns-card-img {
    width: 100%;
    height: 270px;
    max-width: 270px;
    object-fit: cover;
}

.banner-title {
    &--request {
        width: 100%;
        padding-top: 5rem;
        padding-bottom: 2.125rem;

        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: flex-end;
        }

        .h1 {
            padding: 0;
        }
    }
}

.banner-request {
    align-self: center;
    padding-left: 28%;

    .primary-button {
        margin-top: 5rem;
    }
}

.custom-carousel {
    #slider {
        margin: 0;
    }
}

.carousel-inner {
    overflow: inherit;
}

.carousel-item {

    .carousel-item-link {
        color: $secondary;
        width: 100%;
    }

    .carousel-item-img {
        width: 270px;
        height: 270px;
        object-fit: cover;
    }

    .caption {
        text-align: left;
        padding-top: 10px;
    }
}

.carousel-control {

    @include media-breakpoint-down(md) {
        position: relative;
    }

    .carousel-control-prev, .carousel-control-next {
        opacity: 1;
        width: auto;

        @include media-breakpoint-down(md) {
            top: 45px;
        }
    }

    .carousel-control-prev {
        left: -20px;
    }

    .carousel-control-next {
        right: -20px;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background: $white;
        border-radius: 100%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        color: $primary;
        display: flex;
        align-items: center;
        padding: 15px;
        top: -15px;
        position: relative;
        height: 40px;
        width: 40px;
    }
}
