.rating-stars {
    font-size: 1.25rem;
    line-height: 1;
    &> span {
        font-size: 1.05rem;
    }
}

.text-orange {
    color: $orange;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;
}

.product-description {
    font-size: 1rem;
}

.attribute-table {
    font-size: 1rem;
    border-bottom: 1px solid $gray-300;
    .text-dark {
        font-weight: 500;
    }
}

.review-text {
    font-size: 0.75rem;
}

.review-view-more-text {
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 2px;
}

.customer-reviews {
    font-size: 1.05rem;
    .customer-reviews-stars {
        font-size: 1.25rem;
    }
}

.btn.btn-v3 {
    text-transform: uppercase;
    background-color: #33333a;
    border-color: #33333a;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    &:hover, &:focus, &:not(:disabled):not(.disabled):active {
        background-color: $black;
        border-color: #111119;
    }
    &:focus {
        background-color: $black;
        border-color: #111119;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5)
    }
}

.new-product-text {
    background-color: $primary;
    padding: 4px 12px;
    color: white;
    position: absolute;
    top: 8px;
    left: 8px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.card-body.card-body-v3 {
    padding: 1rem 0;
    .price {
        color: black;
    }
}

.custom-control-label {
    font-size: 1rem;
}

.description-padding {
    padding: 0 0.75rem;
}

.xs-container {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.sm-container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.divider-wrapper {
    display: flex;
    align-items: center;
    padding-top: 40px;

    .divider {
        flex: 1;
        height: 1px;
        background-color: $border-color;
    }
}

.benefit-icon {
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 50px;

    &.benefit-icon-1 {
        //background-image: url(/img/benefit_icon_1.svg);
    }

    &.benefit-icon-2 {
        //background-image: url(/img/benefit_icon_2.svg);
    }

    &.benefit-icon-3 {
        //background-image: url(/img/benefit_icon_3.svg);
    }

    &.benefit-icon-4 {
        //background-image: url(/img/benefit_icon_4.svg);
    }
}

/* Modal customization */
.modal-body {
    padding: 40px;

    .note {
        font-size: 14px;
    }
}

.modal-content {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.modal-dialog {
    max-width: 555px;
}

.modal-open .modal {
    background-color: rgba(93,135,150,0.4);
}

.modal-backdrop {
    background: none;
}

.close {
    color: $primary;
    font-size: 25px;
    opacity: 1;
}

/* Forms */

.form-control {
    border-radius: 2px;
    border-color: $border-color;
}

.form-group {
    display: block;
    margin-bottom: 0.625rem;
    width: 100%;

    label {
        color: $third;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 19px;
        padding-right: 15px;
        width: 100%;
    }

    textarea {
        height: 120px;
    }

    .required {
        padding-right: 20px;

        &:after {
            color: #E11C5F;
            content: '*';
            position: relative;
            left: 5px;
        }
    }

    .catcher-label {

        @include media-breakpoint-up(lg) {
            text-align: right;
            width: 70%;
        }
    }
}

.note {
    align-self: flex-end;
    color: $info;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 1.25rem;
    text-align: left;
    width: 100%;
}

.form-group-narrow {
    width: 100%;
}

.button-wrapper {
    padding-top: 10px;
}

@include media-breakpoint-up(lg) {

    .form-group {
        display: flex;
    }

    .form-inner {
        text-align: right;
    }

    .form-group-narrow {
        width: 70%;

        .form-control {
            width: 170px;
            margin-right: 17%;
        }
    }

    .request-page {

        .form-inner {
            max-width: 70%;
            margin: auto;
            position: relative;
            right: 60px;
        }

        .note {
            width: 50%;
        }

        .button-wrapper {
            width: 40%;
        }
    }

    .modal-custom-form {

        .form-group {

            label {
                width: 50%;
            }
        }

        .note {
            width: 66%;
        }
    }
}

.modal-custom-form {

    .h1 {
        font-size: 24px;
        line-height: 32px;
        padding: 0;
        text-align: left;
    }

    .form-inner {
        flex: 100%;
        max-width: 91%;
    }
}

.slider-label-wrapper {
    display: flex;
    justify-content: flex-end;
}

.quantity-slider {
    .slider {
        &.slider-horizontal {
            width: 100%
        }
    }
}

.slider-tick-label-container {
    justify-content: flex-end;
    margin-bottom: 1rem;
    text-align: right;
    width: 100%;
}

.content-image {
    max-width: 100%;
}

.about-wrapper-text {
    display: flex;

    @include media-breakpoint-up(md) {
        padding: 0 3rem;
    }
    @include media-breakpoint-down(md) {
        padding: 0 1.5rem;
    }
}

.about-wrapper-img {

    @include media-breakpoint-up(md) {
        padding: 3rem;
    }
    @include media-breakpoint-down(md) {
        padding: 0.5rem 1.5rem;
    }
}

.about-title {
    color: $third;
    font-family: $primary-font-style;
    font-size: 1.125rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.about-description {
    color: $secondary;
    font-family: $primary-font-style;
    font-size: 0.875rem;
    padding-bottom: 1rem;
}
