{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}
{% set discountPercentage = money.discountPercentage(product|sylius_resolve_variant).__toString %}

<div class="card border-0 product-card">
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="product-card__img-container">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img-top'} %}
        {% if discountPercentage > 0 %}
            <span class="product-card__img-container__discount-label">
                - {{ discountPercentage }}%
            </span>
        {% endif %}
    </a>
    <div class="card-body text-center">
        <h6>{{ product.name }}</h6>
        {% if not product.variants.empty() %}
            <div class="text-muted">
                {% if discountPercentage > 0 %}
                    <span class="product-card__price product-card__price--disabled">
                        {{ money.calculateOriginalPrice(product|sylius_resolve_variant) }}
                    </span>
                    <span class="product-card__price product-card__price--new">
                        {{ money.calculatePrice(product|sylius_resolve_variant) }}
                    </span>
                {% else %}
                    <span class="product-card__price">
                        {{ money.calculatePrice(product|sylius_resolve_variant) }}
                    </span>
                {% endif %}
            </div>
        {% endif %}
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="product-card__text-link">{{ 'sylius.ui.view_more'|trans }}</a>
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
