{% form_theme form 'Sylius/theme.html.twig' %}


{% if form.children|length %}
    {% set bool_filters = [] %}

    {% for attribute_filter in form.children %}
        {% if attribute_filter.vars.attr['type'] is defined and attribute_filter.vars.attr['type'] == 'checkbox' %}
            {%  set bool_filters = bool_filters|merge([attribute_filter]) %}
        {% endif %}
    {% endfor %}

    <div class="ui stackable grid">
        {% for attribute_filter in form.children %}
            {% if attribute_filter.vars.attr['type'] is not defined or attribute_filter.vars.attr['type'] != 'checkbox' %}
                <div class="five wide column">
                    {{ form_row(attribute_filter) }}
                </div>
            {% endif %}
        {% endfor %}

        {% if bool_filters|length %}
            <div class="five wide column">
                <div class="field">
                    <label>{{ 'app.ui.filters'|trans }}</label>
                </div>
                <div id="criteria_attributes_checkbox_filters" type="text" class="ui dropdown">
                    <div class="grouped fields">
                        <div class="field">
                            {% for attribute_filter in bool_filters %}
                                {% set true_option = null %}

                                {% for child in attribute_filter.children %}
                                    {% if child.vars.value %} {% set true_option = child %} {% endif %}
                                {% endfor %}

                                {% if true_option %}
                                    <div class="ui toggle checkbox">
                                        <div class="checkbox-group">
                                            <label class="control control--checkbox">
                                                <span class="control--checkbox__text">
                                                    {# the commented out code is in case the amounts would be needed for the filter #}
                                                    {{ attribute_filter.vars.label }} {#({{ attribute_filter.vars.attr.amounts.1 }})#}
                                                </span>
                                                {% set is_selected = attribute_filter.vars.is_selected %}
                                                <input type="checkbox" id="{{ true_option.vars.id }}" name="{{ true_option.vars.full_name }}" value="1" {% if true_option.vars.checked %}checked="checked"{% endif %}/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
