{% block subject %}
    {{ 'shop24.email.contact_request_subject'|trans }}
{% endblock %}

{% block body %}
    {% autoescape %}
        <div style="font-family: sans-serif; font-size: 16px; line-height: 22px;">
            {% include 'Email/emailLogo.html.twig' %}
            <b>{{ 'shop24.email.contact_request_from'|trans }}:</b> {{ data.email }}
            <h3>{{ 'shop24.email.contact_request_content'|trans }}:</h3>
            "{{ data.message|nl2br }}"
        </div>
    {% endautoescape %}
{% endblock %}
