{% block subject %}
    {{ 'shop24.email.order_shipped.subject_a'|trans }} {{ order.number }} {{ 'shop24.email.order_shipped.subject_b'|trans }}
{% endblock %}

{% block body %}
    {% set urlGuest = order.channel.hostname is not null ? url_scheme ~ '://' ~ order.channel.hostname ~ path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) : url('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) %}
    {% set urlUser = order.channel.hostname is not null ? url_scheme ~ '://' ~ order.channel.hostname ~ path('sylius_shop_account_order_index') : url('sylius_shop_account_order_index') %}
    {% set url = order.customer.user is null ? urlGuest : urlUser %}
    {% autoescape %}
        <div style="font-family: sans-serif; font-size: 16px; line-height: 22px;">
            {% include 'Email/emailLogo.html.twig' %}
            <p>
                {{ 'shop24.email.common.hello'|trans }}
            </p>
            <p>
                <b>
                    {{ 'shop24.email.order_shipped.subject_a'|trans }} {{ order.number }} {{ 'shop24.email.order_shipped.subject_b'|trans }}. <span style="color: #D65A5A;">{{ 'shop24.email.order_shipped.msg_a'|trans }}</span>
                </b>
            </p>
            <p>
                {{ 'shop24.email.order_shipped.msg_b'|trans }}: <br>
                {{ order.shipments.first().tracking }}
            </p>
            <p>
                {{ 'shop24.email.order_accepted.msg_j'|trans }} <a href="{{ url }}" style="color: #ffcc03;">{{ 'shop24.email.common.this_page'|trans }}</a>
            </p>
            <p>
                {{ 'shop24.email.common.thank_you_long'|trans }} <a href="https://clientplaceholder.lt" target="_blank" style="color: #ffcc03;">{{ 'shop24.email.common.services'|trans }}</a>
            </p>
            <p>
                {{ 'shop24.email.common.yours'|trans }}, <br>
                {{ 'shop24.email.common.seller'|trans }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
