{% block subject %}
    {{ 'shop24.email.user_registration.subject'|trans }}
{% endblock %}

{% block body %}
    {% autoescape %}
        <div style="font-family: sans-serif; font-size: 16px; line-height: 22px;">
            {% include 'Email/emailLogo.html.twig' %}
            <p>
                {{ 'shop24.email.common.hello'|trans }}
            </p>
            <p>
                {{ 'shop24.email.user_registration.msg_a'|trans }} <a href="https://clientplaceholder.lt" style="color: #ffcc03;">https://clientplaceholder.lt</a>.
            </p>
            <p>
                {{ 'shop24.email.user_registration.msg_b'|trans }} <a href="mailto:{{ sylius.channel.contactEmail }}" style="color: #ffcc03;">{{ sylius.channel.contactEmail }}</a>
            </p>
            <p>
                {{ 'shop24.email.user_registration.msg_c'|trans }}.
            </p>
            <p>
                {{ 'shop24.email.common.thank_you'|trans }} <br>
                {{ 'shop24.email.common.seller'|trans }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
