<div class="d-flex pb-3 mb-3">
    <div class="reviews-stars">
        <span class="mr-3">{% include '@SyliusShop/Common/_rating.html.twig' with {'average': review.rating, 'viewonly': 'true'} %}</span>
    </div>
    <div>
        <div class="text-dark"><strong>{{ review.author.firstName }} {{ review.author.lastName }}</strong></div>
        <div>{{ review.comment }}</div>
    </div>
</div>
