<a href="{{ path('bitbag_admin_get_shipping_label', {'id' : data.id}) }}" class="ui icon teal labeled tiny fluid button" style="margin-bottom: 5px">
    <i class="file pdf outline icon"></i>
        {{ 'bitbag.ui.download_shipping_label'|trans }} {{ data.externalId }}
</a>
