{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% if sylius.channel.minimalCartSize and sylius.channel.minimalCartSize > cart.itemsTotal %}
    <p class="text-muted mb-4">{{ 'app.minimal_cart_size'|trans }}: {{ money.convertAndFormat(sylius.channel.minimalCartSize) }}</p>
{% endif %}

<a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-primary btn-block">
    {{ 'sylius.ui.checkout'|trans }}
</a>
