{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<div class="d-flex align-items-center">
    <div>{% include '@SyliusShop/Product/_starRating.html.twig' %}</div>
    <span class="ml-3">{{ product.acceptedReviews|length }} {{ 'sylius.ui.reviews'|trans }}</span>
    <span class="order-number">{{ icons.clipboardCheck() }} 100 orders</span>
</div>
