{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}
{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}

{{ sonata_block_render_event('sylius.shop.product.show.tab_reviews', {'product': product}) }}

{% if product.acceptedReviews|length > 0 %}
    {{ headers.default('shop24.ui.customer_satisfaction_guaranteed'|trans) }}

    <div class="d-flex border-bottom pb-4 mb-4">
        <div class="reviews-average">
            <div class="rating-number">{{ product.averageRating }}</div>
            <div class="rating-stars">{% include '@SyliusShop/Product/_starRating.html.twig' %}</div>
            <div class="review-number"><small>{{ product.acceptedReviews|length }} {{ 'sylius.ui.reviews'|trans }}</small></div>
        </div>
        <div class="review-bar-container">
            {% set ratings = {} %}
            {% for i in 5..1 %}
                {% set number = product.acceptedReviews|filter(r => r.rating == i)|length %}
                {% set length = product.acceptedReviews|length %}
                <div class="d-flex mb-1">
                    <small class="d-flex align-items-center">{{ icons.star('text-muted') }} <b class="ml-1 mr-2">{{ i }}</b></small>
                    <div class="review-bar review-bar-{{ i }}" style="width: {{ number > 0 ? number / length * 100 : 0 }}%;">{{ number }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ render(url('sylius_shop_partial_product_review_latest', {'productId': product.id, 'template': '@SyliusShop/ProductReview/_list.html.twig'})) }}
{% else %}
    {{ messages.info('sylius.ui.there_are_no_reviews') }}
{% endif %}




