{% if app.request.get('_route') in ['omni_sylius_admin_node_create', 'omni_sylius_admin_node_update', 'sylius_admin_product_update', 'sylius_admin_product_create']  %}
    {# This javascript is used to remove unnecessary CKEditor tools from https://cdn.ckeditor.com/4.11.1/full/ckeditor.js #}
    <script src="https://cdn.ckeditor.com/4.11.1/full/ckeditor.js"></script>

    <script type="text/javascript">
        CKEDITOR.config.removeButtons = 'Save,NewPage,Preview,Print,Templates,Cut,Copy,Paste,PasteText,' +
            'PasteFromWord,Redo,Undo,Find,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,' +
            'Button,HiddenField,ImageButton,CopyFormatting,Outdent,Indent,Blockquote,CreateDiv,JustifyLeft,' +
            'JustifyCenter,JustifyRight,JustifyBlock,Language,BidiRtl,BidiLtr,Link,Unlink,Anchor,Flash,Table,' +
            'HorizontalRule,Smiley,SpecialChar,PageBreak,Iframe,Styles,Maximize,ShowBlocks,About';

        CKEDITOR.config.entities_latin = false;

        var editors = document.querySelectorAll('.ckeditor');

        for (i = 0; i < editors.length; i++) {
            CKEDITOR.replace(editors[i].getAttribute('id'), {
                {% if app.request.get('browseUrl') and app.request.get('uploadUrl') %}
                filebrowserBrowseUrl: "{{ app.request.get('browseUrl') }}",
                filebrowserUploadUrl: "{{ app.request.get('uploadUrl') }}",
                {% endif %}
                allowedContent: true,
                filebrowserImageUploadUrl: "{{ path('omni_sylius_admin_upload_image') }}",
            });
        }


        function resetDropdown($relationTypeSelector) {
            var $relationSelector = $relationTypeSelector.parent().parent().find('.sylius-autocomplete');
            var resource = $relationTypeSelector.find('option:selected').val();
            var url = $relationSelector.data('url').substr(0, $relationSelector.data('url').indexOf('?')) + '?type=' + resource;
            $relationSelector.attr('data-url', url);
            $relationSelector.data('url', url);
            $relationSelector.dropdown();

            $relationSelector.dropdown({
                delay: {
                    search: 250,
                },
                forceSelection: false,
                apiSettings: {
                    url: url,
                    dataType: 'JSON',
                    cache: false,
                    beforeSend: function(settings) {
                        /* eslint-disable-next-line no-param-reassign */
                        settings.data[$relationSelector.data('criteria-name')] = settings.urlData.query;

                        return settings;
                    },
                    onResponse: function(response) {
                        return {
                            success: true,
                            results: response.map(function(item) {
                                return {
                                    name: item[$relationSelector.data('choice-name')],
                                    value: item[$relationSelector.data('choice-value')],
                                }
                            }),
                        };
                    },
                },
            });
        }
    </script>
{% endif %}
