<footer id="footer" class="ui inverted vertical footer segment pt-5">
    <div class="ui container">
        <div class="footer__grid row">
            {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

            {% set footerNode = omni_sylius_get_node_with_children_by_type('footer_menu', 2) %}

            {% for placeholder in footerNode.children|default([]) if placeholder.enabled %}
                {% if loop.first == true %}
                    <div class="three wide column col-12 col-lg-6">
                        <h4 class="ui inverted header">{{ placeholder.translation.title|trans }}</h4>
                        <div class="row ui inverted link">
                            <div class="col-12 col-lg-6">
                                {% for key, item in placeholder.children if item.enabled and key is even %}
                                    {% set url = omni_sylius_get_node_url(item) %}
                                    <a class="item"{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %}>{{ item.translation.title }}</a>
                                {% endfor %}
                            </div>
                            <div class="col-12 col-lg-6">
                                {% for key, item in placeholder.children if item.enabled and key is odd %}
                                    {% set url = omni_sylius_get_node_url(item) %}
                                    <a class="item"{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %}>{{ item.translation.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="three wide column col-12 col-lg-3">
                            <h4 class="ui inverted header">{{ placeholder.translation.title|trans }}</h4>
                            <div class="ui inverted link">
                                {% for item in placeholder.children if item.enabled %}
                                    {% set url = omni_sylius_get_node_url(item) %}
                                    <a class="item"{% if url.url %} href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %}{% endif %}>{{ item.translation.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                {% endif %}

            {% endfor %}

            <div class="footer__grid__col">
                <h6 class="footer__grid__heading footer__grid__heading--white copyright">&copy; {{sylius.channel.name}} {{ 'now' | date('Y') }}. {{ 'shop24.ui.footer'|trans }}</h6>
            </div>

            {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
        </div>
    </div>
</footer>
