<div class="row align-items-center no-gutters">
        {% set logo = sylius.channel.logos.first %}
        <a href="{{ path('sylius_shop_homepage') }}">
            <img class="logo"
                 src="{% if logo %}
                            {{ logo.path|imagine_filter('sylius_admin_product_original') }}
                        {% else %}
                            {{ asset('img/logo.svg') }}
                      {% endif %}"
                 alt="{{sylius.channel.name}} logo"/>
        </a>

        {% include '_menu_display.html.twig' %}
    <div class="">
        {{ sonata_block_render_event('sylius.shop.layout.header') }}
    </div>
    <div class="ml-auto mobile-header">
        <div class="col-auto d-flex align-items-center">
            <div class="ml-4">
                <div class="header-icons-container">
                    <div>
                        <a class="cart-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"  id="searchDropdown">
                            <span class="header-icon search-toggle" id="searchToggle"><i class="fa fa-search"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="width:300px;" aria-labelledby="searchDropdown">
                            <form action="{{ path('omni_sylius_search') }}" class="input-group" method="get" style="padding: 1.25rem; margin: auto">
                                <div class="ui inverted transparent icon input input-group">
                                    <div class="input-group-prepend">
                                        <button class="input-group-text"><i class="fa fa-search"></i></button>
                                    </div>
                                    <input type="text" id="search" class="form-control" placeholder={{ 'sylius.ui.search'|trans }} name="q" value="{{ searchTerm|default('') }}">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a class="cart-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"  id="userDropdown">
                            <span class="header-icon"><i class="fa fa-user-circle"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="width:300px;" aria-labelledby="userDropdown">
                            {% include '@SyliusShop/Menu/_security.html.twig' %}
                        </div>
                    </div>
                </div>
                {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
            </div>
            <a href="{{ path('quote', {locale: app.request.locale}) }}" class="primary-button detatched-left" id="getQuoteHeader">{{ 'app.ui.get_a_quote'|trans }}</a>
        </div>
        <div class="col-auto d-lg-none ml-2">
            <div class="navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</div>
