{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="h1" style="margin-bottom: 200px">
        {{ 'sylius.ui.the_page_you_are_looking_for_does_not_exist'|trans }}
    </h2>

{% endblock %}
