{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="h1" style="margin-bottom: 200px">
        {{ 'sylius.ui.server_has_encountered_some_errors'|trans }}
    </h2>

{% endblock %}
