<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4F9JMMRKSK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-389456798');
    </script>
    <meta name="google-site-verification" content="BSPrD29_ZZeZ5SPZqa_NnZShwPMZKMWKPKrRIx_3kO8" />
    <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <meta name="verify-paysera" content="8b2d931475c9052983e227ff8a8b58c1">

    {% block metatags %}
    {% endblock %}

    {% if sylius.channel.logos|length > 0 %}
        <link rel="icon" href="{{ asset('/media/image/' ~ sylius.channel.logos[0].path) }}">
    {% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app', null, 'bootstrapThemeProductV3') }}#}

        {{ encore_entry_link_tags('appProductV3', null, 'bootstrapThemeProductV3') }}

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}
    {% block head_extra %}{% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body>
<div class="top-banner-wrapper">
    {{ omni_sylius_banner_zone('before-header-zone') }}
</div>
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}

<div id="cookie-holder" data-notice="{{ 'app.ui.cookies.notice'|trans }} <a href='#'>{{ 'app.ui.cookies.policy'|trans }}</a>." data-submit="{{ 'app.ui.cookies.submit'|trans }}"></div>

{% block top %}
    <div class="bg-dark">
        <div class="container">
            <div class="d-flex">
                {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

                {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}

                {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <div class="mb-2">
        <div class="container">
            <header class="my-4">
                {% include '@SyliusShop/_header.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.layout.after_header') }}
            </header>
        </div>

        <div class="bg-light">
            <div class="container">
                {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
            </div>
        </div>
    </div>
{% endblock %}

<div class="main-content container">
    {% include '@SyliusShop/_flashes.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

    {% block content %}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.after_content') }}

    {{ omni_sylius_banner_zone('before-footer-zone') }}
</div>

{% block lead_catcher %}{% endblock %}

{% block footer %}
    <div class="bg-light border-top py-5 mt-5">
        <div class="container">
            {% include '@SyliusShop/_footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app', null, 'bootstrapTheme') }}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}

    {{ encore_entry_script_tags('appProductV3', null, 'bootstrapThemeProductV3') }}
{% endblock %}

{% block extra_javascripts %}{% endblock %}

{{ sonata_block_render_event('sylius.shop.layout.after_body') }}

<div class="loading-overlay" data-js-loading-overlay>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

</body>
</html>
