{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Login/_header.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.login.after_content_header') }}

    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            {{ sonata_block_render_event('sylius.shop.login.before_login') }}

            <div class="card">
                <div class="card-body">
                    <h4>{{ 'app.registration.social_logins'|trans }}</h4>

                    <div class="text-center">
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-primary fb-login">
                            <img class="soc-icon" src="{{ asset('img/fb.png') }}" alt="facebook login">
                            Facebook
                        </a>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-primary google-login">
                            <img class="soc-icon" src="{{ asset('img/g.png') }}" alt="google login">
                            Google
                        </a>
                    </div>
                    <div class="text-divider">
                        <div class="text-divider__info">{{ 'app.registration.or'|trans }}</div>
                        <div class="text-divider__line"></div>
                    </div>
                    {{ form_start(form, {'action': path('sylius_shop_login_check'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
                        {% include '@SyliusShop/Login/_form.html.twig' %}

                        {{ sonata_block_render_event('sylius.shop.login.form', {'form': form}) }}

                        <button type="submit" class="btn btn-primary">{{ 'sylius.ui.login'|trans }}</button>
                        <a href="{{ path('sylius_shop_request_password_reset_token') }}" class="btn btn-link">{{ 'sylius.ui.forgot_password'|trans }}</a>
                        <input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}">
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>

            {{ sonata_block_render_event('sylius.shop.login.after_login') }}
        </div>

        <div class="col-12 col-md-6 mb-3">
            {{ sonata_block_render_event('sylius.shop.login.before_register') }}

            <div class="card">
                <div class="card-body">
                    {% include '@SyliusShop/Login/_register.html.twig' %}
                </div>
            </div>

            {{ sonata_block_render_event('sylius.shop.login.after_register') }}
        </div>
    </div>
{% endblock %}
