<div style="display: flex;flex-wrap: wrap; align-items: center;">
    <div class="ui right stackable inverted menu" style="padding: 1.25rem; margin: auto">
        {% if is_granted('ROLE_USER') %}
            <div>{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</div>
            <a href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
            <span class="px-1 text-muted">|</span>
            <a href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a>
        {% else %}
            <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.login'|trans }}</a>
            <span class="px-1 text-muted">|</span>
            <a href="{{ path('sylius_shop_register') }}">{{ 'sylius.ui.register'|trans }}</a>
        {% endif %}
    </div>
</div>
