{% import "@SyliusUi/Macro/flags.html.twig" as flags %}

<address>
    <strong>{{ address.firstName }} {{ address.lastName }}</strong>
    {% if address.company %}
        {{ address.company }}<br/>
        {{ 'app.form.company_code'|trans }}: {% if address.companyCode %}{{ address.companyCode }}{% else %} -- {% endif %}, {{ 'app.form.vat_code'|trans }}: {% if address.vatCode %}{{ address.vatCode }}{% else %} -- {% endif %}<br/>
    {% endif %}
    {{ address.phoneNumber }}<br/>
    {{ address.street }}<br/>
    {{ address.city }}<br/>
    {% if address|sylius_province_name is not empty %}
        {{ address|sylius_province_name }}<br/>
    {% endif %}
    {{ flags.fromCountryCode(address.countryCode) }}
    {{ address.countryCode|sylius_country_name|upper }} {{ address.postcode }} <br />
    {{ 'omni_core.address.form.house_number'|trans }}: {{ address.houseNumber }} <br />
    {% if address.apartmentNumber is not empty %}
        {{ 'omni_core.address.form.apartment_number'|trans }}: {{ address.apartmentNumber }}
    {% endif %}
</address>
