{% if banners[0].images[0] is defined %}
    {% set imagePath = banners[0].images[0].path|imagine_filter('omni_sylius_banner') %}

    <section class="cta-section">
        <div class="row">
            <div class="col-12 col-lg-6 cta-section__text">
                <h3>
                    {{ position.translation.title }}
                </h3>
                <p>
                    {{ position.translation.description }}
                </p>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center cta-section__logo">
                <img class="logo" src="{{ imagePath }}" alt="" />
            </div>
        </div>
    </section>
{% endif %}
