{% if banners[0].images[0] is defined %}
    {% set imagePath = banners[0].images[0].path|imagine_filter('omni_sylius_banner') %}

    <section
        class="hero-image"
        style="background-image: url('{{ imagePath }}')">
        <div class="hero-image__content">
            <div class="container">
                <h1>
                    {{ position.translation.title }}
                </h1>
            </div>
            <div class="container container--narrow">
                <p>
                    <i>
                        {{ position.translation.description }}
                    </i>
                </p>
            </div>
        </div>
        <div class="hero-image__cover"></div>
    </section>
{% endif %}
