{% if banners|length > 0 %}
    {% set bannerImagesCount = 0 %}

    {% for banner in banners if banner.hasChannelCode(options['channel']) %}
        {% set bannerImagesCount = bannerImagesCount + banner.images|length %}
    {% endfor %}

    <div class="container">
        {% set idName = position.code %}

        <div id="{{ idName }}" class="carousel slide banners-slider" data-ride="carousel"
             {% if bannerImagesCount == 1 %}data-interval="false"{% endif %}
        >
            {% if bannerImagesCount > 1 %}
                <ol class="carousel-indicators">
                    {% set bannerIndex = 0 %}
                    {% for banner in banners if banner.hasChannelCode(options['channel']) %}
                        {% set isFirstBanner = loop.first ? true : false %}

                        {% for image in banner.images if image.contentPosition == 'default' %}
                            {% set isFirstImage = loop.first ? true : false %}
                            {% set isActive = (isFirstBanner and isFirstImage) ? 'active': '' %}

                            <li class="carousel-indicator {{ isActive }}"
                                data-target="#{{ idName }}"
                                data-slide-to="{{ bannerIndex }}"
                            >
                            </li>

                            {% set bannerIndex = bannerIndex + 1 %}
                        {% endfor %}
                    {% endfor %}
                </ol>
            {% endif %}

            <div class="carousel-inner" role="listbox">
                {% for banner in banners if banner.hasChannelCode(options['channel']) %}
                    {% set isFirstBanner = loop.first ? true : false %}

                    {% for image in banner.images if image.contentPosition == 'default' %}
                        {% set isFirstImage = loop.first ? true : false %}
                        {% set isActive = (isFirstBanner and isFirstImage) ? 'active': '' %}

                        <div class="carousel-item {{ isActive }}">
                            <a class="carousel-item-link" href="{{ image.translation.link|default('javascript:;') }}">
                                {% set imagePath = '' %}

                                {% if image is defined and image.path %}
                                    {% set imagePath = image.path|imagine_filter('omni_sylius_banner') %}
                                {% endif %}

                                <img class="carousel-item-link__img d-block img-fluid" src="{{ imagePath }}" alt="-">

                                <div class="carousel-caption caption--{{ image.contentPosition }}"
                                     {% if image.contentSpace %}style="width: {{ image.contentSpace|number_format }}%"{% endif %}
                                >
                                    {{ image.translation.content|raw }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            {% if bannerImagesCount > 1 %}
                <a class="carousel-control-prev circle-icon" href="#{{ idName }}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'omni.ui.previous'|trans }}</span>
                </a>

                <a class="carousel-control-next circle-icon" href="#{{ idName }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'omni.ui.next'|trans }}</span>
                </a>
            {% endif %}
        </div>

        <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
            {% for banner in banners if banner.hasChannelCode(options['channel']) %}
                {% set count = 0 %}
                {% for image in banner.images if image.contentPosition == 'bottom' and count < 3 %}
                    <a href="{{ image.translation.link|default('javascript:;') }}">
                        {% set imagePath = image.path|imagine_filter('omni_sylius_banner') %}

                        <img src="{{ imagePath }}" style="width: 100%; height: 100%;" alt="{{ image.translation.content|raw }}">
                    </a>
                    {% set count = count + 1 %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}
