<div class="container">
    <div class="banners-two-columns">
        <div class="row pb-4">
            {% set counter = 1 %}

            {% for banner in banners if banner.hasChannelCode(options['channel']) %}
                {% for image in banner.images %}
                    <div class="col-12 col-md-6 {% if counter % 2 %}pl-0 pr-2{% else %}pr-0 pl-2{% endif %}">
                        <a class="card-link" href="{{ image.translation.link|default('javascript:;') }}">
                            <div style="width: 100%; background-image: url({{ image.path|imagine_filter('omni_sylius_banner') }}); background-repeat: no-repeat; background-size: cover; height: 300px">
                                <div style="position: absolute; bottom: 40px; left: 40px; z-index: 4">
                                    {{ image.translation.content|raw }}
                                </div>
                                {% if image.contentBackground %}
                                    <div style="height: 100%; z-index: 2; position: absolute; top: 0; width: 50%; background: linear-gradient(to bottom left, transparent 0%, transparent 50%, {{ image.contentBackground }} 50%, {{ image.contentBackground }} 100%);"></div>
                                {% endif %}
                            </div>
                        </a>
                    </div>

                    {% set counter = counter + 1 %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
