{% import '@SyliusShop/Common/Macro/sectionDivider.html.twig' as dividers %}
{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

<div class="container">
    <div class="banners-four-columns">
        <div class="banner-title">
            {{ headers.default(position.translation.title) }}
        </div>
        <div class="row">
            {% for banner in banners if banner.hasChannelCode(options['channel']) %}
                {% for image in banner.images %}
                    <div class="col-12 col-md-3 four-columns-card">
                        <a class="card-link" href="{{ image.translation.link|default('javascript:;') }}">
                            <img class="four-columns-card-img"
                                 src="{{ image.path|imagine_filter('omni_sylius_banner') }}"
                                 alt="-"
                            >
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    {% if position.translation.description %}
        {{ dividers.default(position.translation.description, position.translation.link) }}
    {% endif %}
</div>
