{% import '@SyliusShop/Common/Macro/sectionDivider.html.twig' as dividers %}
{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% if banners|length > 0 %}
{% set bannerImagesCount = 0 %}

{% for banner in banners if banner.hasChannelCode(options['channel']) %}
    {% set bannerImagesCount = bannerImagesCount + banner.images|length %}
{% endfor %}
<div class="container">
    <div class="row">
        <div class="col-12 banner-title banner-title--request">
            {{ headers.default(position.translation.title) }}

            <div class="banner-request">
                <a href="{{ path('quote', {locale: app.request.locale}) }}"
                   class="primary-button"
                   id="getQuoteHeader">
                    {{ 'app.ui.get_a_quote'|trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 custom-carousel">
            {% set idName = position.code %}
            <div id="{{ idName }}" class="carousel slide" data-ride="carousel"
                 {% if bannerImagesCount < 4 %}data-interval="false" {% else %} data-interval="100000" {% endif %}>

                <div class="w-100 carousel-inner" role="listbox">

                {% for banner in banners if banner.hasChannelCode(options['channel']) %}
                    {% set isFirstBanner = loop.first ? true : false %}
                    {% set count = 0 %}
                    {% for image in banner.images if image.contentPosition == 'default' %}
                        {% set isFirstImage = loop.first ? true : false %}
                        {% set isActive = (isFirstBanner and isFirstImage) ? 'active': '' %}

                        {% set column %}
                            <div class="col-md-3 four-columns-card {% if count != 0 %}mobile-hidden{% endif %}">
                                <a class="carousel-item-link" href="{{ image.translation.link|default('javascript:;') }}">
                                    {% set imagePath = '' %}

                                    {% if image is defined and image.path %}
                                        {% set imagePath = image.path|imagine_filter('omni_sylius_banner') %}
                                    {% endif %}
                                    <img class="four-columns-card-img" src="{{ imagePath }}" alt="-">
                                    <div class="caption caption--{{ image.contentPosition }} mobile-hidden"
                                         {% if image.contentSpace %}style="width: {{ image.contentSpace|number_format }}%"{% endif %}
                                    >
                                        {% if image.translation.link %}
                                            <span>{{ 'app.branner.assoc_cat'|trans }}:</span> <a href="{{ image.translation.link }}">{{ image.translation.content|striptags|replace({'&scaron;': "š"}) }}</a>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% endset %}

                        {% if count == 0 and banner.images|length == loop.index %}
                            <div class="carousel-item {{ isActive }}">
                                <div class="row">
                                    {{ column }}
                                </div>
                            </div>
                            {% set count = 0 %}
                        {% elseif count == 0 %}
                            <div class="carousel-item {{ isActive }}">
                            <div class="row">
                                {{ column }}
                            {% set count = count + 1 %}
                        {% elseif count == 3 or banner.images|length == loop.index %}
                                    {{ column }}
                                </div>
                            </div>
                            {% set count = 0 %}
                        {% else %}
                                {{ column }}
                            {% set count = count + 1 %}
                        {% endif %}

                    {% endfor %}
                {% endfor %}

                </div>

                {% if bannerImagesCount > 4 %}
                <div class="carousel-control">
                    <a class="carousel-control-prev" href="#{{ idName }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="sr-only">{{ 'omni.ui.previous'|trans }}</span>
                    </a>
                    <a class="carousel-control-next" href="#{{ idName }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span class="sr-only">{{ 'omni.ui.next'|trans }}</span>
                    </a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

    {% if position.translation.description %}
        {{ dividers.default(position.translation.description, position.translation.link) }}
    {% endif %}
</div>
{% endif %}
