<div class="container">
    <div class="banners-three-columns">
        <div class="row">
            {% for banner in banners if banner.hasChannelCode(options['channel']) %}
                {% for image in banner.images %}
                    <div class="col-12 col-md-4">
                        <a class="card-link" href="{{ image.translation.link|default('javascript:;') }}">
                            <img class="three-column-card-img" src="{{ image.path|imagine_filter('omni_sylius_banner') }}">
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
