<div class="form-group">
    {{ form_label(form) }}
    <select disabled="disabled" class="form-control disabled">
        <option selected="selected">{{ form.vars.choices[0].label }}</option>
    </select>
    <input type="hidden" name="{{ form.vars.full_name }}" value="{{ form.vars.choices[0].value }}"/>
</div>
