{% extends '@SyliusShop/layout.html.twig' %}
{% import '@SyliusShop/Common/Macro/pagination.html.twig' as pagination %}

{% block content %}
    {% if results|length > 0 %}
        <h1 class="ui monster section dividing header">{{ 'shop24.ui.results_for'|trans }}: "{{ searchTerm }}"</h1>
        <div class="row mt-5">
            {% for resource in results %}
                <div class="col-12 col-md-4 col-lg-3">
                    {% include '@SyliusShop/Product/_box.html.twig' with {'product': resource} %}
                </div>
            {% endfor %}
        </div>
        <div class="ui hidden divider"></div>
        <div class="search-result-pagination">
            {{ pagination.simple(pager) }}
        </div>
    {% else %}
        <h1 class="ui monster section dividing header">{{ 'shop24.ui.results_for_not_found_a'|trans }}: "{{ searchTerm }}" {{ 'shop24.ui.results_for_not_found_b'|trans }}</h1>
    {% endif %}
{% endblock %}
