{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.phoneNumber) }}

<div class="row">
    <div class="col">{% include '@SyliusShop/Common/Form/_countryCode.html.twig' with {'form': form.countryCode} %}</div>
    <div class="col">{{ form_row(form.street) }}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.city) }}</div>
    <div class="col">{{ form_row(form.postcode) }}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.houseNumber) }}</div>
    <div class="col">{{ form_row(form.apartmentNumber) }}</div>
</div>

{{ form_row(form.company) }}
{{ form_row(form.companyCode) }}
{{ form_row(form.vatCode) }}
