{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            <div class="two fields">
                {{ form_row(form.code) }}
                {{ form_row(form.name) }}
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.enabled) }}
            <div class="two fields">
                <div class="field">
                    {{ form_label(form.hostname) }}
                    <div class="ui labeled input">
                        <div class="ui label">http://</div>
                        {{ form_widget(form.hostname) }}
                    </div>
                    {{ form_errors(form.hostname) }}
                </div>
                {{ form_row(form.contactEmail) }}
            </div>
            <div class="two fields">
                {{ form_row(form.color) }}
                {{ form_row(form.themeName) }}
            </div>
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">{{ form_label(form.shopBillingData) }}</h4>
            <div class="two fields">
                {{ form_row(form.shopBillingData.company) }}
                {{ form_row(form.shopBillingData.taxId) }}
            </div>
            <div class="two fields">
                {{ form_row(form.shopBillingData.countryCode) }}
                {{ form_row(form.shopBillingData.street) }}
            </div>
            <div class="two fields">
                {{ form_row(form.shopBillingData.city) }}
                {{ form_row(form.shopBillingData.postcode) }}
            </div>
        </div>

        {# START: OmniSyliusShippingPlugin #}
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'shop24.ui.courier_credentials'|trans }}</h4>
            <input type="hidden" id="sylius_channel_address_firstName" name="sylius_channel[address][firstName]" value="-">
            <input type="hidden" id="sylius_channel_address_lastName" name="sylius_channel[address][lastName]" value="-">
            <div class="two fields">
                {{ form_row(form.address.company) }}
                {{ form_row(form.address.phoneNumber) }}
            </div>
            <div class="two fields">
                {{ form_row(form.address.countryCode) }}
                {{ form_row(form.address.city) }}
            </div>
            <div class="two fields">
                {{ form_row(form.address.street) }}
                {{ form_row(form.address.postcode) }}
            </div>
            <div class="two fields">
                {{ form_row(form.address.houseNumber) }}
            </div>
            {{ form_row(form.shipperConfigs) }}
        </div>
        {# END: OmniSyliusShippingPlugin #}
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.locales) }}

            {# START: OmniSyliusCorePlugin #}
            {{ form_row(form.countries) }}
            {{ form_row(form.logos) }}
            {{ form_row(form.images) }}
            {# END: OmniSyliusCorePlugin #}

            {{ form_row(form.defaultLocale) }}
            {{ form_row(form.currencies) }}
            {{ form_row(form.baseCurrency) }}
            {{ form_row(form.defaultTaxZone) }}
            {{ form_row(form.taxCalculationStrategy) }}
            {{ form_row(form.skippingShippingStepAllowed) }}
            {{ form_row(form.skippingPaymentStepAllowed) }}
            {{ form_row(form.accountVerificationRequired) }}

            {{ form_row(form.minimalCartSize) }}
        </div>
    </div>

</div>
