<div class="pb-2 mb-2">
    <div class="mr-3 customer-reviews-stars">{% include '@SyliusShop/Common/_rating.html.twig' with {'average': review.rating, 'viewonly': 'true'} %}</div>
    <div class="text-muted mt-2 mb-2">
        By <span class="text-black-50">{{ review.author.firstName }} {{ review.author.firstName }}</span> on {{ review.createdAt|format_date }}
    </div>
    <div>{{ review.comment }}</div>
</div>
