{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    {% include '@SyliusShop/Account/Order/Show/_breadcrumb.html.twig' %}
{% endblock %}

{% block subcontent %}
    {% include '@SyliusShop/Account/Order/Show/_header.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.account.order.show.after_content_header', {'order': order}) }}

    {% include '@SyliusShop/Common/Order/_summary.html.twig' %}

    {{ form_start(form, {'action': path('sylius_shop_order_show', {'tokenValue': order.tokenValue}), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT" />
        {% include '@SyliusShop/Checkout/SelectPayment/_form.html.twig' with {'payment_form': form} %}
        {{ form_row(form._token) }}

        <button type="submit" class="btn btn-primary">
            {{ 'sylius.ui.pay'|trans }}
        </button>
    {{ form_end(form, {'render_rest': false}) }}

    {{ sonata_block_render_event('sylius.shop.account.order.show.after_summary', {'order': order}) }}
{% endblock %}
