{% macro simple(paginator, options) %}
    {% if paginator.haveToPaginate() %}
        {{ pagerfanta(paginator, 'stovendo', options|default({
            'routeName': app_get_master_request().attributes.get('_route'),
            'routeParams': app_get_master_request().attributes.get('_route_params')
        })) }}
    {% endif %}
{% endmacro %}

{% macro perPage(paginator, paginationLimits) %}
    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button">
            {{ 'sylius.ui.show'|trans }} {{ paginator.maxPerPage }}
        </button>
        <div class="dropdown-menu">
        {% for limit in paginationLimits if limit != paginator.maxPerPage %}
            {% set path = path(app_get_master_request().attributes.get('_route'), app_get_master_request().attributes.get('_route_params')|merge(app_get_master_request().query)|merge({'limit': limit})) %}
            <a class="dropdown-item" href="{{ path }}">{{ limit }}</a>
        {% endfor %}
        </div>
    </div>
{% endmacro %}
