{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{{ sonata_block_render_event('sylius.shop.product.index.before_vertical_menu', {'taxon': taxon}) }}

<div class="card border-0 mb-4">
    <div class="list-group list-group-flush">
        {% set listableTaxon = taxon %}

        {% if taxon.parent is not null %}
            {% set listableTaxon = taxon.parent %}
        {% endif %}

        {% for child in listableTaxon.children %}
            <a href="{{ path('sylius_shop_product_index', {'slug': child.slug, '_locale': child.translation.locale}) }}" class="list-group-item list-group-item-action">{{ child.name }}</a>
        {% endfor %}
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_vertical_menu', {'taxon': taxon}) }}
