<div data-js-address-book="sylius-shipping-address">
    <h1 class="mb-4">{{ 'sylius.ui.shipping_address'|trans }}</h1>

    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
            </div>

            <div class="row">
                <div class="col-12 col-md-6">{{ form_row(form.shippingAddress.firstName) }}</div>
                <div class="col-12 col-md-6">{{ form_row(form.shippingAddress.lastName) }}</div>
            </div>

            <div class="row">
                {% if form.customer is defined %}
                    <div class="col-12 col-md-6">
                        {% include '@SyliusShop/Common/Form/_login.html.twig' with {'form': form.customer} %}
                    </div>

                    <div class="col-12 col-md-6">
                {% else %}
                    <div class="col-12">
                {% endif %}
                    <div class="phone-number-input-container">
                        <div class="phone-number-input-container__predefinition">
                            <span class="phone-number-input-container__predefinition__text">
                                {{ order.shippingAddress.phoneNumberPrefix|default('+370') }}
                            </span>
                        </div>
                        {{ form_row(form.shippingAddress.phoneNumberWithoutPrefix, {'attr': {'class': 'phone-number'}}) }}
                    </div>
                </div>
            </div>
            {% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form.shippingAddress, 'order': order} %}

            {{ form_row(form.differentBillingAddress, {'attr': {'data-js-toggle': '[data-js-address-book="sylius-billing-address"]'}}) }}

            {{ sonata_block_render_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
        </div>
    </div>
</div>

<div data-js-address-book="sylius-billing-address">
    <h1 class="my-4">{{ 'sylius.ui.billing_address'|trans }}</h1>

    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
            </div>

            {% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form.billingAddress, 'order': order} %}

            {{ sonata_block_render_event('sylius.shop.checkout.address.billing_address_form', {'order': order}) }}
        </div>
    </div>
</div>

<div>
    <h1 class="my-4">{{ 'shop24.ui.vat_invoice_needed'|trans }}</h1>

    <div class="card">
        <div class="card-body">
            {{ form_row(form.billingAddress.company) }}
        </div>
    </div>
</div>
