<div class="container ">
    <div class="row">
        {% for i in 1..4 %}
            {% set benefitsTitle = 'app.benefits.title_' ~ i %}
            {% set benefitsDescription = 'app.benefits.description_' ~ i %}
            {% set benefitsIcon = 'benefit-icon-' ~ i %}
            <div class="col-md-3 ">
                <div class="row">
                    <div class="col-3 pl-0">
                        <span class="benefit-icon {{ benefitsIcon }}"></span>
                    </div>
                    <div class="col-9 pl-0">
                        <h4 class="text">{{ benefitsTitle |trans }}</h4>
                        <p class="text-secondary pt-2">{{ benefitsDescription |trans }}</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        {% endfor %}
    </div>
</div>
