{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}
{% import '@SyliusShop/Common/Macro/sectionDivider.html.twig' as dividers %}

{% block content %}
    {{ omni_sylius_banner_zone('homepage-header-top') }}

    {% include '@SyliusShop/Homepage/_benefits.html.twig' %}

    {{ omni_sylius_banner_zone('homepage-middle-top') }}

    {{ headers.default('sylius.ui.latest_products'|trans) }}

    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}

    {{ dividers.default('app.ui.all_products'|trans, path('sylius_shop_product_index', {slug: 'katalogas'})) }}

    {{ omni_sylius_banner_zone('homepage-bottom-bottom') }}
{% endblock %}

{% block lead_catcher %}{% include 'LeadCatcher/lead_catcher.html.twig' %}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
{% endblock %}

{% block extra_javascripts %}
    {% include 'LeadCatcher/_scripts.html.twig' %}
{% endblock %}
