<div class="container my-4">
    <div class="row align-items-center">
        <div class="col">
            <a href="{{ path('sylius_shop_homepage') }}"><img class="logo" src="{{ asset('bootstrap-theme-product-v4/images/logo.svg', 'bootstrapThemeProductV4') }}" alt="" /></a>
        </div>
        <div class="col-auto">
            {% if order.customer.id|default(null) is not null %}
                <div>{{ 'sylius.ui.checking_out_as'|trans }} {{ order.customer.fullName|default(order.customer.email) }}.</div>
            {% else %}
                <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.sign_in'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>
