<h4>{{ 'app.registration.social_logins'|trans }}</h4>

<div class="text-center">
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-primary fb-login">
        <img class="soc-icon" src="{{ asset('img/fb.png') }}" alt="facebook login">
        Facebook
    </a>
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-primary google-login">
        <img class="soc-icon" src="{{ asset('img/g.png') }}" alt="google login">
        Google
    </a>
</div>
<div class="text-divider">
    <div class="text-divider__info">{{ 'app.registration.or'|trans }}</div>
    <div class="text-divider__line"></div>
</div>

<h4>{{ 'sylius.ui.personal_information'|trans }}</h4>

<div class="row">
    <div class="col">{{ form_row(form.firstName) }}</div>
    <div class="col">{{ form_row(form.lastName) }}</div>
</div>

{{ form_row(form.email) }}
{{ form_row(form.phoneNumber) }}

<h4 class="mt-5">{{ 'sylius.ui.account_credentials'|trans }}</h4>

{{ form_row(form.user.plainPassword.first) }}
{{ form_row(form.user.plainPassword.second) }}
