.swiper-container {
    padding: 0 14px;
}

.swiper-slide {
    height: auto;
}

.slide-card {
    padding: 24px 32px;
    border: 1px solid #dedede;
    height: 100%;
    display: flex;
    flex-direction: column;

    .slide-card-body {
        padding: 24px 16px 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    h6 {
        font-size: 1rem;
        font-weight: 400;
    }

    .slide-card-price {
        font-size: 1.05rem;
        font-weight: bold;
        color: black;
    }
}


.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 40px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    background-color: white;
    color: black;
    &::after {
        content: none;
    }
}
