<a
    href="{{ path(omni_sylius_search_get_route(resource), {slug: resource.translation.slug}) }}"
    class="search-result-grid__item"
>
    {% set title = '' %}

    {% if resource.name is defined and resource.name is not null %}
        {% set title = resource.name %}
    {% elseif resource.title is defined and resource.title is not null %}
        {% set title = resource.title %}
    {% elseif resource.translation.title is defined and resource.translation.title is not null %}
        {% set title = resource.translation.title %}
    {% endif %}
    <img src="{{ resource.images.first ? resource.images.first.path|imagine_filter('product_thumbnail_white_border') : asset('bootstrap-theme/images/product-placeholder.png', 'bootstrapTheme') }}" alt="{{ title }}" class="search-result-grid__item__img">
    <div class="search-result-grid__item__content">
        <h6 class="search-result-grid__item__content__title">
            {{ title }}
        </h6>
        <div class="search-result-grid__item__content__label">
            {{ 'sylius.ui.view_more'|trans }}
        </div>
    </div>
</a>
