{% macro node_item(node) %}
    {% import _self as macros %}

    {{ omni_sylius_instantiate_node_relations(node) }}

    {% if node.children|length > 0 %}
        <span class="dropdown dropdown--position">
            <a class="header-primary" href="#" role="button" data-toggle="dropdown">
                {{ node.translation.title }}
            </a>
            <div class="dropdown-wrapper">
                <div class="container dropdown-menu top-main-nav-dropdown">
                    <div class="row">
                        <div class="col-6">
                            <div class="row nav-items-wrapper">
                                <div class="top-main-nav-dropdown-top pr-0 col-6">
                                    {% for key, subnode in node.children if key is even %}
                                        {% set link = '#' %}

                                        {% if subnode.link %}
                                            {% set link = subnode.link %}
                                        {% elseif subnode.relation and subnode.relation.slug %}
                                            {% if subnode.relationType == 'sylius.taxon' %}
                                                {% set link = path('sylius_shop_product_index', { slug: subnode.relation.slug }) %}
                                            {% endif %}
                                        {% endif %}

                                        <div class="image-src"
                                             data-img="
                                            {% if subnode.images|length > 0 %}
                                                {{ subnode.images.first.path|imagine_filter('omni_sylius_banner') }}
                                            {% endif %}"
                                        >
                                            <a href="{{ link }}" class="top-main-nav-item js-show-image" data-node="{{ subnode.code }}">
                                                {{ subnode.translation.title }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="top-main-nav-dropdown-top pr-0 col-6">
                                    {% for key, subnode in node.children if key is odd %}
                                        {% set link = '#' %}

                                        {% if subnode.link %}
                                            {% set link = subnode.link %}
                                        {% elseif subnode.relation and subnode.relation.slug %}
                                            {% if subnode.relationType == 'sylius.taxon' %}
                                                {% set link = path('sylius_shop_product_index', { slug: subnode.relation.slug }) %}
                                            {% endif %}
                                        {% endif %}

                                        <div class="image-src"
                                             data-img="
                                            {% if subnode.images.first|length > 0 %}
                                                {{ subnode.images.first.path|imagine_filter('omni_sylius_banner') }}
                                            {% endif %}"
                                        >
                                            <a href="{{ link }}" class="top-main-nav-item js-show-image" data-node="{{ subnode.code }}">
                                                {{ subnode.translation.title }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="top-main-nav-dropdown-inner col-6 pl-0 pr-0">
                                    {% for child in node.children %}
                                        {% if child.children|length > 0 %}
                                            <div class="nav-right-container hidden" data-node="{{ child.code }}">
                                                {% for subchild in child.children %}
                                                    {{ macros.inner_node_inner(subchild) }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-center px-0">
                                <img src id="nav-item-image" class="item-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    {% else %}
        {{ macros.render_simple_node(node) }}
    {% endif %}
{% endmacro %}

{% macro inner_node_top(node) %}
    {% import _self as macros %}

    {{ macros.render_simple_node(node, 'top-main-nav-item', 'data-node=' ~ node.code) }}
{% endmacro %}

{% macro inner_node_inner(node) %}
    {% import _self as macros %}

    {{ macros.render_simple_node(node, 'inner-main-nav-item pl-3') }}
{% endmacro %}

{% macro render_simple_node(node, class = '', data = '') %}
    {% if omni_sylius_is_node_linkable(node) %}
        <a href="{{ node.link }}" class="{% if class %}{{ class }}{% else %}navbar-item{% endif %}" {{ data }}>{{ node.translation.title }}</a>
    {% elseif omni_sylius_is_node_related(node) %}
        {% set relation = omni_sylius_get_relation(node) %}
        <a href="{{ path('sylius_shop_product_index', {'slug': relation.slug, '_locale': relation.translation.locale}) }}" class="{% if class %}{{ class }}{% else %}navbar-item{% endif %}" {{ data }}>{{ omni_sylius_get_relation_label(relation) }}</a>
    {% else %}
        <a href="{{ path('omni_sylius_cms_frontend_show', {'slug': node.translation.slug, '_locale': node.translation.locale}) }}" class="{% if class %}{{ class }}{% else %}navbar-item{% endif %}" {{ data }}>{{ node.translation.title }}</a>
    {% endif %}
{% endmacro %}

{% import _self as macros %}


<nav class="detatched-left top-navbar">
    <div class="">
        {% set headerNode = omni_sylius_get_node_by_type('main_menu') %}
        {{ omni_sylius_instantiate_node_relations(headerNode) }}

        {% if null != headerNode %}
            {% for node in headerNode.children %}
                {% if node.enabled%}
                    {{ macros.node_item(node) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</nav>
