{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% if form is not defined %}
        {% set form = null %}
    {% endif %}

    <div class="request-page">
        {{ app_render_quote_form(['product'], app.request, form)|raw }}
    </div>
{% endblock %}
