{% extends '@SyliusUi/Form/theme.html.twig' %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="{% if required %}required {% endif %}grouped fields">
            {%- for child in form %}
                <div class="field">
                    <div class="ui toggle checkbox">
                        {{- form_widget(child) -}}
                    </div>
                </div>
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    <div class="checkbox-group">
        <label class="control control--checkbox">
            <span class="control--checkbox__text">
                {{ label }}
            </span>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <div class="control__indicator"></div>
        </label>
    </div>
{%- endblock checkbox_widget -%}

