<div class="card">
    <div class="card-body">
        <form method="get" action="{{ path(app_get_master_request().attributes.get('_route'), app_get_master_request().attributes.get('_route_params')) }}" class="loadable">
            <div class="row">
                <div class="col">
                    {% for filter in products.definition.enabledFilters %}
                        {{ sylius_grid_render_filter(products, filter) }}
                    {% endfor %}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">{{ 'sylius.ui.search'|trans }}</button>
                    <a href="{{ path(app_get_master_request().attributes.get('_route'), app_get_master_request().attributes.get('_route_params')) }}" class="btn btn-link">
                        {{ 'sylius.ui.clear'|trans }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
