{% set path = path(app_get_master_request().attributes.get('_route'), app_get_master_request().attributes.get('_route_params')) %}
{% set definition = resources.definition %}
{% set data = resources.data %}

{% if definition.enabledFilters|length > 0 %}
    <div class="filter-container mb-4">
        <form method="get" action="{{ path }}" class="loadable">
            <div class="">
            {% for filter in definition.enabledFilters|sort_by('position') if filter.enabled %}
                {{ sylius_grid_render_filter(resources, filter) }}
                {% if loop.index0 % 2 %}
                    </div>
                    <div class="">
                {% endif %}
            {% endfor %}
            </div>
            <div class='mt-2'>
                <button class="btn btn-primary" type="submit">
                    {{ 'sylius.ui.filter'|trans }}
                </button>
                <a class="btn btn-outline-primary" href="{{ path }}">
                    {{ 'sylius.ui.clear_filters'|trans }}
                </a>
            </div>
        </form>
    </div>
{% endif %}

<div class='mt-4'>
    {% include '@SyliusShop/Product/Index/_verticalMenu.html.twig' %}
</div>

{{ omni_sylius_banner_zone('sidebar-bottom-zone') }}
