{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}

{% block content %}
    <div>
        {% include '@SyliusShop/Order/_summary.html.twig' %}
    </div>
{% endblock %}
