{% extends '@SyliusShop/Account/AddressBook/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block subcontent %}
    <div>
        {{ headers.default('sylius.ui.address_book'|trans, '', 'sylius.ui.add_address'|trans) }}

        {{ sonata_block_render_event('sylius.shop.account.address_book.create.after_content_header', {'address': address}) }}

        {{ form_start(form, {'action': path('sylius_shop_account_address_book_create'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
            {% include '@SyliusShop/Common/Form/_addressFull.html.twig' with {'form': form} %}
            <div class="row">
                <div class="col">
                    <a href="{{ path('sylius_shop_account_address_book_index') }}" class="btn btn-secondary">
                        {{ 'sylius.ui.cancel'|trans }}
                    </a>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                        {{ 'sylius.ui.add'|trans }}
                    </button>
                </div>
            </div>

        {{ sonata_block_render_event('sylius.shop.account.address_book.create.form', {'address': address}) }}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
