<div class="text-center my-3">
    <h3>{{ 'app.checkout.phone_number'|trans }}</h3>
    <div class="mb-3">{{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}</div>
    <div class="h1">
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-paypal"></i>
    </div>
</div>
