{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Checkout/_steps.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.checkout.address.after_steps', {'order': order}) }}

    <div class="row">
        <div class="col-12 col-lg-8 mb-5">
            {{ sonata_block_render_event('sylius.shop.checkout.address.before_form', {'order': order}) }}

            {{ form_start(form, {'action': path('sylius_shop_checkout_address'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                <input type="hidden" name="_method" value="PUT" />

                {% include '@SyliusShop/Checkout/Address/_form.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.checkout.address.before_navigation', {'order': order}) }}

                {% include '@SyliusShop/Checkout/Address/_navigation.html.twig' %}

                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <div class="col-12 col-lg-4">
            {{ sonata_block_render_event('sylius.shop.checkout.address.before_summary', {'order': order}) }}

            {% include '@SyliusShop/Checkout/_summary.html.twig' with {'order': order} %}

            {{ sonata_block_render_event('sylius.shop.checkout.address.before_support', {'order': order}) }}

            {% include '@SyliusShop/Checkout/_support.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.checkout.address.after_support', {'order': order}) }}
        </div>
    </div>
{% endblock %}
