//start overrides

.table {
    .media {
        width: 230px;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.navbar a.nav-link {
    text-transform: uppercase;
    color: $white;
    font-weight: 500;

    &:hover {
        color: $primary;
    }
}

.logo {
    @include media-breakpoint-up(md) {
        width: 160px;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
}

.main-content > :first-child:not(nav):not(.nav) {
    margin-top: map-get($spacers, 4);
}


.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
}

.loadable.loading .loading-overlay { display: flex; }


label.required {
    &::after {
        content: '*';
        display: inline-block;
        padding-left: 4px;
        color: #E11C5F;
    }
}

.btn-icon {
    padding-right: 5px;
    padding-left: 5px;
    //font-size: $font-size-lg;
}

.noUi-connect {
    background-color: $primary !important;
    box-shadow: none !important;
}

.navbar-nav {
    .nav-link {
        color: $white;
    }
}

#slider {
    margin: 0 20px;
    margin-top: 40px;
    @media (min-width: $breakpoint-l) {
        margin: 0 18px;
        margin-top: 40px;
    }
}

.no-wrap {
    flex-wrap: nowrap;
}

.breadcrumb {
    .section, .divider {
        margin-right: 5px;
    }
}

.pagination {
    justify-content: flex-end;
    margin-top: 20px;
    .item {
        margin-left: 10px;
    }
}

#shipping-methods {
    .form-check-label {
        position: relative;
        top: 4px;
        left: 5px;
        margin-bottom: 5px;
    }
}

.media {
    .media-body {
        max-width: 400px;
    }
}

//end overrides

// start bg colors

.bg-black {
    background: $black;
}

.bg-black--50-opacity {
    background: $black--50-opacity;
}

.bg-dark-gray {
    background: $gray-dark;
}
// end bg colors

//start text colors
.color-white {
    color: $white;
}
//end text colors

//start components

.footer {
    &__grid {
        h4 {
            margin-top: 15px;
            @media (min-width: $breakpoint-l) {
                margin-top: 0;
            }
            color: $primary;
            font-size: 16px;
            text-transform: uppercase;
        }
        .column {
            .list {
                display: flex;
                flex-flow: column nowrap;
                margin-top: 15px;
                a.item {
                    color: $white;
                    text-decoration: none;
                    &:hover, &:focus {
                        color: $primary;
                    }
                }
            }
        }
        &__heading {
            &--white {
                color: $white;
                margin-top: 30px;
            }
        }
    }
}

#cookie-holder {
    position: absolute;
    color: transparent;
    left: -100vw;
    top: -100vh;
}

.cookie-notice {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: $white;
    color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px 14px;
    @include box-shadow-2;
    @media (min-width: $breakpoint-l) {
        padding: 20px;
        flex-flow: row nowrap;
    }
    &__text {
        @media (max-width: $breakpoint-l) {
            height: 100px;
            overflow: scroll;
            margin: 10px 0;
        }
        @media (min-width: $breakpoint-l) {
            margin-right: 20px;
        }
        a {
            white-space: nowrap;
        }
    }
}

.filter-container {
    margin-top: 25px;
}

.home-banners {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-l) {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
    }
    &__item {
        margin-top: 20px;
        display: block;
        @media (min-width: $breakpoint-l) {
            margin-top: 0;
        }
    }
}

.container--narrow {
    max-width: 600px;
}

.horizontal-menu-container {
    background: $black--50-opacity;
    position: relative;
    z-index: 2;
}

.cta-section {
    margin-top: 50px;
    padding: 30px 0;
    &__text {
        @media (min-width: $breakpoint-l) {
            border-left: 4px solid $primary;
            font-size: 16px;
        }
    }
    &__logo {
        margin: 30px 0;
    }
}

.hero-image {
    position: relative;
    min-height: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: $breakpoint-m) {
        min-height: 50vw;
    }
    @media (min-width: $breakpoint-l) {
        min-height: 40vw;
        margin-top: -78px;
    }
    &__content {
        position: relative;
        z-index: 1;
        color: $white;
        text-align: center;
        h1 {
            color: $white;
            margin-bottom: 20px;
            font-size: 18px;
            @media (min-width: $breakpoint-l) {
                font-size: 2.5vw;
            }
        }
        p {
            font-size: 18px;
            margin-bottom: 15px;
        }
        @media (min-width: $breakpoint-l) {
            padding-top: 78px;
        }
    }
    &__cover {
        position: absolute;
        background: rgba(0, 0, 0, 0.40);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

.category-menu {
    &--mobile {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        background: $white;
        color: $gray-dark;
        display: none;
        &--active {
            display: block;
        }
        @media (min-width: $breakpoint-l) {
            display: none;
        }
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            &__form {
                width: 100%;
                padding: 0 20px;
            }
        }
    }
    &--desktop {
        display: none;
        @media (min-width: $breakpoint-l) {
            display: block;
        }
    }
    &__inner {
        display: flex;
    }
    &__left {
        &__category-btn {
            z-index: 100;
            outline: 0;
            border: 0;
            position: relative;
            padding: 15px 20px;
            fill: $white;
            background: $primary;
            transition: $transition-fast;
            &__icon {
                vertical-align: middle;
                width: 40px;
                height: 40px;
            }
            &__text {
                text-transform: uppercase;
                font-size: 14px;
                margin-left: 10px;
                vertical-align: middle;
                color: $white;
            }
            .category-dropdown {
                width: 1140px;
                display: none;
                position: absolute;
                top: 70px;
                left: 0;
                background: $white;
                color: $gray-dark;
                font-size: 14px;
                opacity: 0;
                transition: $transition-fast;
                &--active {
                    display: flex;
                }
                &--visible {
                    @include box-shadow-1;
                    opacity: 1;
                    transition: $transition-fast;
                }
                &--no-child-grid {
                    width: 100%;
                    background: transparent;
                    .toplevel-categories {
                        min-width: 100%;
                        background: $white;
                    }
                    .child-categories {
                        display: none;
                    }
                }
                .toplevel-categories {
                    @include box-shadow-1;
                    &__item {
                        display: block;
                        width: auto;
                        color: $gray-dark;
                        text-decoration: none;
                        white-space: nowrap;
                        text-align: left;
                        padding: 10px 19px;
                        border-top: 1px solid $gray-light;
                        &:first-of-type {
                            border-top: 0;
                        }
                        transition: $transition-fast;
                        &--active,
                        &:hover,
                        &:focus {
                            text-decoration: none;
                            color: $gray-dark;
                            background: $gray-light--lighten-1;
                            transition: $transition-fast;
                        }
                    }
                }

                .child-categories {
                    background: $gray-light--lighten-1;
                    padding: 20px 10px;
                    height: 747px;
                    overflow: auto;
                    width: 100%;
                    &__grid {
                        display: none;
                        grid-gap: 20px;
                        opacity: 0;
                        transform: translatex(-30px);
                        transition: $transition-fast;
                        &--active {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            align-items: stretch;
                        }
                        &--visible {
                            opacity: 1;
                            transform: translatex(0);
                            transition: $transition-fast;
                        }
                        &__item {
                            margin-top: 20px;
                            &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), , &:nth-of-type(4) {
                            margin-top: 0;
                        }
                        }
                    }
                    &__list {
                        text-align: left;
                        &__item {
                            display: block;
                            width: auto;
                            text-decoration: none;
                            color: $gray-dark;
                            margin-top: 10px;
                            transition: $transition-fast;
                            &:hover,
                            &:focus {
                                text-decoration: none;
                                color: $primary;
                                transition: $transition-fast;
                            }
                            &:first-of-type {
                                margin-top: 0;
                            }
                            &--title {
                                font-weight: 600;
                                border-bottom: 1px solid $gray-light;
                                margin-bottom: 5px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__right {
        &__item {
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            padding: 0 20px;
            height: 100%;
            color: $white;
            transition: $transition-fast;
            &:hover, &:focus, &--active {
                color: $white;
                text-decoration: none;
                @include box-shadow-1;
                .category-menu__right__item__border {
                    width: 100%;
                    transition: $transition-fast;
                }
                transition: $transition-fast;
            }
            &__text {
                height: 100%;
                display: flex;
                align-items: center;
            }
            &__border {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 4px;
                background: $white;
                transition: $transition-fast;
            }
        }
    }
}

.navigation {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
    width: auto;
    background: $white;
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul {
    position: relative;
    z-index: 10000;
    float: left;
    background: $white;
}

.navigation ul li {
    float: left;
    min-height: 0.05em;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    line-height: 16px;
}

.navigation ul li.hover,
.navigation ul li:hover {
    position: relative;
    z-index: 10000;
    cursor: default;
}

.navigation ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 10000;
    width: 100%;
    opacity: 0;
    transform: translateX(-20px);
    transition: $transition-fast;
}

.navigation ul ul li {
    float: none;
}

.navigation ul ul ul {
    top: 0;
    right: 0;
}

.navigation ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: $transition-fast;
}

.navigation ul ul {
    top: -1px;
    left: 99%;
    margin-left: 1%;
}

.navigation ul li { float: none; }

.navigation ul ul { margin-top: 0.05em; }

.navigation:before {
    content: '';
    display: block;
}

.navigation:after {
    content: '';
    display: table;
    clear: both;
}

.navigation a {
    display: block;
    padding: 1em 1.3em;
    color: $gray-dark;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid $gray-light;
    transition: $transition-fast;
    &:hover, &:focus {
        background: $gray-light;
        transition: $transition-fast;
    }
}

.navigation > ul {
    width: 13em;
    border-left: 3px solid $primary;
}

.navigation ul ul { width: 13em; }

.navigation > ul > li > a {
    color: $gray-dark;
}

.navigation li { position: relative; }

.navigation ul li.has-sub > a:after {
    content: '\203A';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.navigation ul ul { @include box-shadow-1; }

.navigation ul ul a { color: $gray-dark; }

.navigation ul ul a:hover {
    color: $gray-dark;
    transition: $transition-fast;
    &:hover, &:focus {
        background: $gray-light;
        transition: $transition-fast;
    }
}

.navigation ul ul li:hover > a {
    background: $white;
    color: $gray-dark;
    transition: $transition-fast;
    &:hover, &:focus {
        background: $gray-light;
        transition: $transition-fast;
    }
}

.navigation.align-right > ul > li > a {
    border-left: 1px solid $gray-light;
    border-right: none;
}

.navigation.align-right { float: right; }

.navigation.align-right li { text-align: right; }

.navigation.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}

.navigation.align-right ul li.has-sub > a:after { content: none; }

.navigation.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
    opacity: 0;
    transform: translateX(-20px);
    transition: $transition-fast;
}
.hamburger-close {
    border: 0;
    outline: 0;
    padding: 0;
    background: transparent;
    svg {
        width: 40px;
        height: 40px;
    }
}

.hamburger-menu {
    margin-top: 20px;
    padding: 0 20px;
    padding-bottom: 50px;
    .divider {
        margin-top: 35px;
        margin-bottom: 30px;
    }
    &__list {
        margin: 0;
        padding: 0;
        &__item {
            font-weight: 500;
            list-style: none;
            border-top: 1px solid $gray-light;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            padding-top: 10px;
            letter-spacing: 0.4px;
            &:first-of-type {
                border-top: 0;
            }
            &__link {
                color: $gray-dark;
                font-size: 14px;
                text-transform: uppercase;
            }
            &--accordion {
                margin-top: 0;
                &__top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid $gray-light;
                    padding: 10px 0;
                    &__btn {
                        outline: 0;
                        border: 0;
                        background: transparent;
                    }
                    &__text {
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 500;
                        color: $gray-dark;
                    }
                }
                &__bottom {
                    padding-right: 20px;
                }
            }
        }
    }
}

.divider {
    position: relative;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, $gray-dark, transparent);
}

.div-transparent--gray-light:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, $gray-light, transparent);
}

.div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -5px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background-color: $primary;
    border: 1px solid $gray-dark;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px $white, 0 0 0 4px $white;
}

.div-dot--gray-light:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -5px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background-color: $primary;
    border: 1px solid $gray-light;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px $white, 0 0 0 4px $white;
}

.filter-container {
    label {
        font-weight: 600;
        text-transform: uppercase;
    }
    .checkbox {
        label {
            font-weight: 300;
        }
    }
    a, button {
        display: inline-block;
        @media (min-width: $breakpoint-m) {
            margin: 10px 0;
        }
    }
    .dropdown .fields {
        max-height: 100px;
        overflow-y: auto;
    }
    .field {
        margin-top: 15px;
    }
}

.control {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: $white;
    border: 1px solid $gray-300;
}

.control__indicator--radio {
    width: 26px;
    height: 26px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input:not([disabled]) ~ .control__indicator,
.control input:focus ~ .control__indicator {
    border-color: $gray-300;
}
.control input:disabled ~ .control__indicator {
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: "";
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 12px;
    border: solid $primary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: $primary;
}

.control--radio__text {
    margin-left: 10px;
    font-size: 16px;
    line-height: 24px;
}

.control--checkbox__text {
    margin-left: 5px;
}

.search-result-grid {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
    @media (min-width: $breakpoint-m) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: $breakpoint-m) {
        margin-top: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__item {
        &__img {
            width: 100%;
            height: auto;
        }
        &__content {
            margin-top: 20px;
            &__title {
                font-size: 16px;
                font-weight: 500;
            }
        }
        &:hover, &:focus {
            text-decoration: none;
            .search-result-grid__item__content__label {
                color: $primary;
            }
        }
    }
}

.sidebar-container {
    height: 100%;
}

.not-found-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    @media (min-width: $breakpoint-l) {
        padding: 150px 0;
    }
    &__img {
        max-width: 300px;
        margin-bottom: 30px;
    }
}

.footer {
    flex-shrink: 0;
}
.shipping-accordion {
    cursor: pointer;
    &__title {
        position: relative;
        top: 5px;
    }
    &__content {
        padding: 15px;
        padding-bottom: 7px;
        @include box-shadow-3;
    }
}

.product-card {
    background: transparent;
    &__img-container {
        position: relative;
        &__discount-label {
            position: absolute;
            top: 20px;
            left: 0;
            padding: 2px 5px;
            background: $white;
            color: $maroon;
            font-size: 12px;
        }
        .card-img-top {
            height: 255px;
            object-fit: cover;
            @media (min-width: $breakpoint-m) {
                object-fit: contain;
            }
        }
    }
    &__text-link {
        white-space: nowrap;
    }
    &__price {
        &--disabled {
            text-decoration: line-through;
        }
        &--new {
            color: $maroon;
            font-weight: 500;
            margin-left: 5px;
        }
    }
}

.item-price {
    margin-bottom: 5px;
    display: block;
    @media (min-width: $breakpoint-m) {
        margin-bottom: 0;
        margin-right: 5px;
        display: inline-block;
    }
    &--percentage {
        color: $maroon;
        font-size: 14px;
        vertical-align: top;
    }
    &--disabled {
        text-decoration: line-through;
        font-weight: 300;
    }
    &--new {
        color: $maroon;
    }
}

.cart-items {
    @media (max-width: $breakpoint-l) {
        .card {
            margin-top: 25px;
            overflow: auto;
        }
    }
}

.phone-number-input-container {
    display: grid;
    grid-template-columns: 40px 1fr;
    &__predefinition {
        position: relative;
        margin-right: 5px;
        font-weight: 500;
        &__text {
            position: absolute;
            bottom: 24px;
        }
    }
    .form-group {
        width: 100%;
    }
    label {
        position: relative;
        left: -40px;
    }
}

.product-image {
    width: 100%;
    height: auto;
    @media (min-width: $breakpoint-m) {
        height: 400px;
        object-fit: contain;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
