{% extends '@SyliusAdmin/layout.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.new_'~metadata.name) %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.create' %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {% include '@SyliusAdmin/Crud/Update/_header.html.twig' %}

    <div class="ui segment">
        <div class="ui stackable grid sylius-tabular-form">
            <div class="three wide column">
                <div class="ui segment">
                    <h3>{{ 'app.order.properties'|trans }}</h3>
                    <table>
                        <tbody class="ui stackable very basic table">
                            <tr>
                                <td>{{ 'app.form.from'|trans }}</td>
                                <td>{{ resource.from.format('Y-m-d') }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'app.form.to'|trans }}</td>
                                <td>{{ resource.to.format('Y-m-d') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="ui segment">
                    <h3>{{ 'app.order.download'|trans }}</h3>
                    <a class="ui labeled icon primary button" href="{{ path('order_report_download', {'report': resource.id}) }}" download>
                        <i class="save icon"></i> {{ 'app.order.download'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sonata_block_render_event(event_prefix ~ '.stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sonata_block_render_event(event_prefix ~ '.javascripts') }}
{% endblock %}
