{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}

<div class="card border-0 position-relative">
    <span class="new-product-text">{{ 'shop24.ui.new'|trans }}</span>
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img-top'} %}
    </a>
    <div class="card-body card-body-v3">
        <h5>{{ product.name }}</h5>
        <span class="price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</span>
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
