{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
{% set taxon = app_get_taxon_by_slug(app.request.attributes.get('slug')) %}
{% include '@SyliusShop/Product/Index/_header.html.twig' %}

<div class="row">
    <div class="col-12 col-md-4 col-lg-3 filter-aside mt-0">
        {% include '@SyliusShop/Product/Index/_sidebar.html.twig' %}
    </div>
    <div class="col-12 col-md-8 col-lg-9">
        {% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

        {{ headers.default(taxon.name, '', taxon.description) }}

        {{ omni_sylius_banner_zone('body-top-zone') }}<br />

        {% include '@SyliusShop/Product/Index/_main.html.twig' %}
    </div>
</div>
{% endblock %}

{% block lead_catcher %}{% include 'LeadCatcher/lead_catcher.html.twig' %}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
{% endblock %}

{% block extra_javascripts %}
    {% include 'LeadCatcher/_scripts.html.twig' %}
{% endblock %}
