<div class="ui attached segment" id="shipping-state">
    {% include '@SyliusAdmin/Order/Label/ShippingState/' ~ order.shippingState ~ '.html.twig' with { 'value': 'sylius.ui.' ~ order.shippingState, 'attached': true } %}
    {% if order.hasShipments %}
        {% set shipment = order.shipments.first %}
        <h3 class="ui dividing header" id="shipping-state">{{ 'sylius.ui.shipments'|trans }}</h3>
        <div class="ui relaxed divided list" id="sylius-shipments">
            {% include '@SyliusAdmin/Order/Show/_shipment.html.twig' %}
        </div>
    {% endif %}
</div>
{% if shipment.tracking is not empty and shipment.shippingExports|length > 0 %}
    <div class="ui attached segment">
        {{ app_render_shipping_label_download_button(shipment)|raw }}
    </div>
{% endif %}
