{% import '@SyliusUi/Macro/labels.html.twig' as label %}

<div class="item">
    <div class="right floated content">
        {% include '@SyliusAdmin/Common/Label/shipmentState.html.twig' with {'data': shipment.state} %}
    </div>
    <i class="large truck icon"></i>
    <div class="content">
        <div class="header">
            {{ shipment.method }}
        </div>
        <div class="description">
            <i class="globe icon"></i>{{ shipment.method.zone }}
        </div>
    </div>
    {% if sm_can(shipment, 'pack', 'sylius_shipment') and 'dpd' not in shipment.method.code %}
        <div class="ui segment">
            <form name="sylius_shipment_ship" method="post" action="{{ path('pack', {orderId: order.id, shipmentId: shipment.id}) }}" class="ui loadable form" novalidate="novalidate">
                <div class="ui fluid action input">
                    <button type="submit" class="ui labeled icon teal button"><i class="box icon"></i>{{ 'app.shipment.pack'|trans }}</button>
                </div>
            </form>
        </div>
    {% endif %}
    {% if sm_can(shipment, 'export', 'sylius_shipment') and 'dpd' in shipment.method.code and shipment.tracking is null %}
        <div class="ui segment">
            <form action="{{ path('export_single_shipment', {orderId: order.id, shipmentId: shipment.id}) }}" method="post" novalidate="">
                <label for="number_of_parcels" style="display: block">{{ 'app.number_of_parcels'|trans }}</label>
                <div class="ui fluid action input" style="margin-top: 5px; margin-bottom: 10px">
                    <input type="number" style="display: block" id="number_of_parcels" name="number_of_parcels" value="1">
                </div>
                <button type="submit" class="ui icon labeled tiny blue fluid loadable button"><i class="reply all icon"></i>{{ 'app.order.export_shipment'|trans }}</button>
            </form>
        </div>
    {% endif %}
    {% if sm_can(shipment, 'ship', 'sylius_shipment') %}
        {{ render(path('sylius_admin_partial_shipment_ship', {'orderId': order.id, 'id': shipment.id})) }}
    {% endif %}
</div>
