{% macro default(header, link = '#') %}
    <div class="divider-wrapper">
        <span class="divider"></span>
        <a class="secondary-button" href="{{ link }}">
            <h3 class="text">{{ header }}</h3>
            <span class="arrow-right"></span>
        </a>
        <span class="divider"></span>
    </div>
{% endmacro %}
