{% include '@SyliusShop/Taxon/_breadcrumb.html.twig' %}

{{ sonata_block_render_event('sylius.shop.taxon.header.before', {'taxon': taxon}) }}

{{ sonata_block_render_event('sylius.shop.taxon.header.after', {'taxon': taxon}) }}
