{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

    {% include '@OmniSyliusCmsPlugin/Frontend/_breadcrumb.html.twig' %}

    {% import _self as macros %}
    {% macro node_item(node) %}
    <div class="content-page">
    {% if node.images.first|length > 0 %}
        <div class="row w-100 justify-content-center pb-4">
        {% for image in node.images %}
            <div class="col-6 text-center">
                {% set imagePath = image.path|imagine_filter('omni_sylius_banner') %}
                <img class="content-image" src="{{ imagePath }}" alt="{{ image.translation.link|raw }}">
            </div>
        {% endfor %}
        </div>
    {% endif %}
        <div class="card-body">
            <p class="text-justify">
                {{ omni_sylius_cms_render_node(node) }}
            </p>
        </div>
    </div>
    {% endmacro %}

    {{ macros.node_item(node) }}
{% endblock %}

{% block metatags %}
    {{ omni_seo_meta() }}
{% endblock %}
