{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% set product = order_item.variant.product %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{{ sonata_block_render_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}
<div class="description-padding">
{{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart', 'data-js-add-to-cart': 'form', 'class': 'loadable', 'novalidate': 'novalidate', 'data-redirect': path('sylius_shop_product_show', {slug: product.slug})}}) }}
    {{ form_errors(form) }}
    <div class="alert alert-danger d-none" data-js-add-to-cart="error"></div>
    {% if not product.simple %}
        {% if product.variantSelectionMethodChoice %}
            {% include '@SyliusShop/Product/Show/_variants.html.twig' %}
        {% else %}
            {% include '@SyliusShop/Product/Show/_options.html.twig' %}
            <div class="col-12 text-right">
                <a id="cartResetOptions" href="#">
                    <span class="btn-icon">{{ icons.reload() }}</span>
                    {{ 'sylius.ui.refresh_variants'|trans }}
                </a>
                <br/>
                <br/>
            </div>
        {% endif %}
    {% endif %}

    <div class="row align-items-end">
        <div class="col-4">
            {% set step = 1 %}

            {% if product.quantityStep is not null and product.quantityStep > 1 %}
                {% set step = product.quantityStep %}
            {% endif %}

            <div class="form-group">
                <label for="sylius_add_to_cart_cartItem_quantity" class="required">{{ 'app.form.quantity'|trans }}</label>
                <input type="number" id="sylius_add_to_cart_cartItem_quantity" name="sylius_add_to_cart[cartItem][quantity]" required="required" min="{{ step }}" class="form-control js-quantity-step" value="{{ step }}" step="{{ step }}" data-step="{{ step }}">
            </div>

            {{ sonata_block_render_event('sylius.shop.product.show.add_to_cart_form', {'product': product, 'order_item': order_item}) }}
        </div>
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary" id="addToCartButton">
                    <span class="btn-icon">{{ icons.cart() }}</span>
                    {{ 'sylius.ui.add_to_cart'|trans }}
                </button>
                <div class="btn btn-block btn-primary d-none" id="quote-button" data-toggle="modal" data-target="#quote-modal">
                    <span class="btn-icon">{{ icons.clipboardCheck() }}</span>
                    {{ 'app.quote.get_a_quote'|trans }}
                </div>
            </div>
        </div>
        <div class="col-12 text-center d-none" id="cannotAddToCartMessage">
            {{ 'app.ui.add_to_cart.not_available'|trans }}
        </div>
    </div>
    {{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
</div>
