<table class="table attribute-table">
    <tbody>
    {% for attribute in product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale, sylius_base_locale)|sort_by('attribute.position') %}
        {% if attribute.code != 'description_1'
            and attribute.code != 'description_header_1'
            and attribute.code != 'description_2'
            and attribute.code != 'description_header_2' %}
        <tr>
            <td class="text-dark">
                {{ attribute.name }}
            </td>
            <td>
                {% include [('@SyliusAttribute/Types/'~attribute.attribute.type~'.html.twig'), '@SyliusAttribute/Types/default.html.twig'] with {'attribute': attribute, 'locale': configuration.request.locale, 'fallbackLocale': configuration.request.defaultLocale} %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
