{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{{ sonata_block_render_event('sylius.shop.product.show.before_details', {'product': product}) }}

{% macro attributes(code, product) %}
    {% for attribute in product %}
        {% if attribute.code == code %}
            {{ attribute.value }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% if product.description is not empty %}
    <div class="my-2 description-padding">
        <p class="pb-2 product-description">
            {{ product.description | raw }}
        </p>
    </div>
{% endif %}

{% if product.imagesByType('right') is not empty %}
    <div class="row">
        <div class="col-sm-12 col-md-6 about-wrapper-text">
            <div class="align-self-center">
                <h2 class="about-title">
                    {{ _self.attributes('description_header_1', product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale, sylius_base_locale)|sort_by('attribute.position') ) }}
                </h2>
                <div class="pb-2 product-description">
                    {{ _self.attributes('description_1', product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale, sylius_base_locale)|sort_by('attribute.position') ) }}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 about-wrapper-img">
            {% set source_path = product.imagesByType('right').first.path %}
            {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
            {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}

            <div data-product-image="{{ path }}" data-product-link="{{ original_path }}"></div>
            <a href="{{ original_path }}" class="glightbox" data-js-product-image>
                <div class="img-square">
                    <img class="" src="{{ path }}" alt="{{ product.name }}" />
                </div>
            </a>
        </div>
    </div>
{% endif %}

{% if product.imagesByType('left') is not empty %}
    <div class="row">
        <div class="col-sm-12 col-md-6 about-wrapper-img">
                {% set source_path = product.imagesByType('left').first.path %}
                {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
                {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}

            <div data-product-image="{{ path }}" data-product-link="{{ original_path }}"></div>
            <a href="{{ original_path }}" class="glightbox" data-js-product-image>
                <div class="img-square">
                    <img class="" src="{{ path }}" alt="{{ product.name }}" />
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 about-wrapper-text">
            <div class="align-self-center">
                <h2 class="about-title">
                    {{ _self.attributes('description_header_2', product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale, sylius_base_locale)|sort_by('attribute.position') ) }}
                </h2>
                <div class="pb-2 product-description">
                    {{ _self.attributes('description_2', product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale, sylius_base_locale)|sort_by('attribute.position') ) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
