<div class="row mt-3">
    {% set i = 1 %}
    {% if product.images|length > 1 %}
    <div class="col-lg-2 col-md-3 col-2">
        {{ sonata_block_render_event('sylius.shop.product.show.before_thumbnails', {'product': product}) }}
        {% for image in product.images|filter(image => (image.type != 'right' and image.type != 'left')) %}
        {% set path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_small_thumbnail') : asset('bootstrap-theme/images/product-placeholder.png', 'bootstrapTheme') %}
        <div data-js-product-thumbnail {% if i > 8 %}class="hidden"{% endif %}>
        {% if product.isConfigurable() and product.variants|length > 0 %}
            {% include '@SyliusShop/Product/Show/_imageVariants.html.twig' %}
        {% endif %}
            <a href="{{ image.path|imagine_filter('sylius_shop_product_original') }}" class="glightbox">
                <img class="img-fluid" src="{{ path }}" data-large-thumbnail="{{ image.path|imagine_filter('sylius_shop_product_large_thumbnail') }}" alt="{{ product.name }}" />
            </a>
        </div>
        {% set i = i + 1 %}
        {% endfor %}
    </div>
    {% endif %}

    {% if product.imagesByType('main') is not empty %}
        {% set source_path = product.imagesByType('main').first.path %}
        {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
        {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}
    {% elseif product.images.first %}
        {% set source_path = product.images.first.path %}
        {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
        {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_large_thumbnail')) %}
    {% else %}
        {% set original_path = asset('bootstrap-theme/images/product-placeholder.png', 'bootstrapTheme') %}
        {% set path = original_path %}
    {% endif %}

    <div class="{{ product.images|length > 1 ? 'col-lg-10 col-md-9 col-10' : 'col-12' }}">
        <div data-product-image="{{ path }}" data-product-link="{{ original_path }}"></div>
        <a href="{{ original_path }}" class="glightbox" data-js-product-image>
            <img class="img-fluid" style="width: 100%;" src="{{ path }}" alt="{{ product.name }}" />
        </a>
    </div>
</div>

