{% for option_form in form.cartItem.variant %}
    {{ app_filter_product_options(option_form, product) }}
    {{ form_row(option_form, { 'attr': { 'data-option': option_form.vars.name } }) }}
{% endfor %}
