{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<div class="modal fade" id="quote-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-custom-form">
                    {{ app_render_quote_form(['deadline'])|raw }}
                </div>

                <div id="quote-spinner" class="spinner">
                    <img class="spinner-img" src="{{ asset('img/spinner.gif') }}" alt="">
                </div>
                <div class="alert alert-success alert-dismissible fade show quote-alert" id="quote-success">
                    <div class="d-flex align-items-center">
                    <span class="pr-3 fa-2x">
                                    <svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""></svg>
                    </span>
                        <strong>
                            {{ 'app.quote.success'|trans }}&nbsp;
                        </strong>
                        {{ 'app.quote.send_success'|trans }}
                    </div>
                </div>
                <div class="alert alert-danger alert-dismissible fade show quote-alert" id="quote-error">
                    <div class="d-flex align-items-center">
                    <span class="pr-3 fa-2x">
                                    <svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""></svg>
                    </span>
                        <strong>
                            {{ 'app.quote.error'|trans }}&nbsp;
                        </strong>
                        {{ 'app.quote.error_message'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
