{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% for variant in product.variants %}
    {% set tier_prices_count =  variant.tierPrices|length %}
    {% set price_list = '' %}
    {% set full_price_list = '' %}

    {% for price in variant.tierPrices %}
        {% set price_list = price_list ~ '<tr><td>' ~ price.qty ~ '</td><td>' ~ price.price|sylius_format_money(price.channel.baseCurrency, app.request.locale) ~ '</td></tr>' %}
        {% set full_price_list = full_price_list ~ '<tr><td>' ~ price.qty ~ '</td><td>' ~ app_get_price_with_tax(price.price, variant) ~ '</td></tr>' %}
    {% endfor %}


    {% set table_with_price = '
        <div>
            <table>
                <thead>
                    <tr>
                        <th>' ~ 'app.info.quantity'|trans ~ '</th>
                        <th>' ~ 'app.info.price'|trans ~ '</th>
                    </tr>
                </thead>
                <tbody>' ~ price_list ~ '
                </tbody>
            </table>
        </div>
    ' %}
    {% set table_with_full_price = '
        <div>
            <table>
                <thead>
                    <tr>
                        <th>' ~ 'app.info.quantity'|trans ~ '</th>
                        <th>' ~ 'app.info.price'|trans ~ '</th>
                    </tr>
                </thead>
                <tbody>' ~ full_price_list ~ '
                </tbody>
            </table>
        </div>
    ' %}

    {% if tier_prices_count > 0 %}
        <a tabindex="0" id="price-map-{{ variant.code }}" class="btn btn-md btn-primary price-map" data-variant="{{ variant.code }}" role="button" data-toggle="tooltip" data-html="true" style="color: white; display: none" title="{{ table_with_price }}" data-price_list="{{ table_with_price }}" data-full_price_list="{{ table_with_full_price }}">{{ icons.info() }} {{ 'app.info.price_map'|trans }}</a>
    {% endif %}
{% endfor %}
