<strong>
 {% if data.customer.firstName and data.customer.lastName%}
 {{ data.customer.firstName}} {{ data.customer.lastName }}
 {% else %}
 {{ data.shippingAddress.firstName }} {{ data.shippingAddress.lastName }}
 {% endif %}
</strong>
{% if data.shippingAddress.company%}
 <p>{{ data.shippingAddress.company }}</p>
{% endif %}
