<center>
    <img
        src="{{ asset('bootstrap-theme-product-v4/images/logo.svg', 'bootstrapThemeProductV4') }}"
        alt=""
        style="display: block;"
        width="150"
    />
</center>
