{% extends 'Email/layout.html.twig' %}

{% block subject %}
    {{ 'app.email.order_confirm.subject'|trans }}
{% endblock %}

{% block additional_styles %}
    .order-table {
        border:1px
        solid #eaeaea;
    }

    .order-table-header {
        font-size:13px;
        padding:3px 9px;
    }

    .order-table-row {
        border-bottom: 1px;
    }

    .order-table-data {
        font-size:11px;
        padding:3px 9px;
        border-bottom:1px;
    }
{% endblock %}

{% block content %}
    {% set url = order.channel.hostname is not null ? url_scheme ~ '://' ~ order.channel.hostname ~ path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) : url('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) %}
    {% autoescape %}
        <p>
            {{ 'app.email.order_confirm.your_order_placed'|trans }}: <b>{{ order.number }}</b>
        </p>
        <p>
            {{ 'app.email.order_confirm.view_order'|trans }} <a href="{{ url|raw }}">{{ url|raw }}</a>
        </p>
        <table class="order-table" cellspacing="0" cellpadding="0" border="0">
            <thead>
            <tr bgcolor="#EAEAEA">
                <th align="left" class="order-table-header">{{ 'app.email.order_confirm.record'|trans }}</th>
                <th align="left" class="order-table-header">{{ 'app.email.order_confirm.code'|trans }}</th>
                <th align="center" class="order-table-header">{{ 'app.email.order_confirm.quantity'|trans }}</th>
                <th align="right" class="order-table-header">{{ 'app.email.order_confirm.sum'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% set unit_total_before_tax = 0 %}

                {% for item in order.items %}
                    <tr class="order-table-row" style="border-bottom: 1px; border-color: #cccccc">
                        <td class="order-table-data"><b>{{ item.variant.name }}</b></td>
                        <td class="order-table-data">{{ item.variant.code }}</td>
                        <td align="center" class="order-table-data">{{ item.quantity }}</td>
                        <td align="right" class="order-table-data">{{ (item.quantity * item.unitPrice)|sylius_format_money(sylius.channel.baseCurrency, app.request.locale) }}</td>
                    </tr>

                    {% set unit_total_before_tax = unit_total_before_tax + item.quantity * item.unitPrice %}
                {% endfor %}
            </tbody>
            <tbody>
                <tr>
                    <td colspan="3" align="right" class="order-table-data">{{ 'app.email.order_confirm.sum'|trans }}</td>
                    <td align="right" class="order-table-data">{{ unit_total_before_tax|sylius_format_money(sylius.channel.baseCurrency, app.request.locale) }}</td>
                </tr>
                <tr>
                    <td colspan="3" align="right" class="order-table-data">{{ 'app.email.order_confirm.shipping'|trans }}</td>
                    {% set shipping_price = 0 %}

                    {% for shipment in order.shipments %}
                        {% set shipping_price = shipping_price + shipment.method.getAmountForChannel(sylius.channel.code) %}
                    {% endfor %}

                    <td align="right" class="order-table-data">{{ shipping_price|sylius_format_money(sylius.channel.baseCurrency, app.request.locale) }}</td>
                </tr>
                <tr>
                    <td colspan="3" align="right" class="order-table-data">{{ 'sylius.ui.taxes_total'|trans }}</td>
                    <td align="right" class="order-table-data">{{ (order.total - unit_total_before_tax - shipping_price)|sylius_format_money(sylius.channel.baseCurrency, app.request.locale) }}</td>
                </tr>
                <tr>
                    <td colspan="3" align="right" class="order-table-data"><b>{{ 'app.email.order_confirm.total'|trans }}</b></td>
                    <td align="right" class="order-table-data"><b>{{ order.total|sylius_format_money(sylius.channel.baseCurrency, app.request.locale) }}</b></td>
                </tr>
            </tbody>
        </table>

        {% set order_payed = true %}
        {% set bank_transfer = false %}
        {% set method = null %}

        {% for payment in order.payments %}
            {% if payment.state != 'completed' %}
                {% set order_payed = false %}
            {% endif %}
            {% if payment.method.code == 'bank_transfer' %}
                {% set method = payment.method %}
                {% set bank_transfer = true %}
            {% endif %}
        {% endfor %}

        {% if order_payed == false %}
            <p style="margin-top: 10px">
                {{ 'app.email.order_confirm.waiting_for_payment'|trans }}.
            </p>
        {% endif %}

        {% if bank_transfer and method is not null %}
            <p style="margin-top: 10px">
                {{ method.translation.instructions|replace({'{order_number}': order.number, '\n': '<br/>'})|raw }}
            </p>
        {% endif %}

        <p>{{ 'app.email.products_will_be_ready'|trans }}</p>

        <p style="margin-top: 20px">
            {{ 'app.email.order_confirm.thank_you'|trans }}
        </p>
    {% endautoescape %}
{% endblock %}
