{% extends 'Email/layout.html.twig' %}

{% block subject %}
    {{ 'shop24.email.password_reset.subject'|trans }}
{% endblock %}

{% block content %}
    {% set url = channel.hostname is not null ? url_scheme ~ '://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken}) %}
    {% autoescape %}
        <div style="">
            <p>
                {{ 'shop24.email.common.hello'|trans }} {{ user.username }},
            </p>
            <p>
                {{ 'shop24.email.password_reset.msg_a'|trans }} <a href="{{ channel.hostname }}" style="color: #5C8796;">{{ channel.hostname }}</a> {{ 'shop24.email.password_reset.msg_b'|trans }}
            </p>
            <p>
                <a href="{{ url|raw }}" style="color: #5C8796;">{{ 'shop24.email.password_reset.msg_c'|trans }}</a>
            </p>
            <p>
                {{ 'shop24.email.password_reset.msg_d'|trans }}: <a href="{{ url|raw }}" style="color: #5C8796;">{{ url|raw }}</a>
            </p>
            <p>
                {{ 'shop24.email.password_reset.msg_e'|trans }}
            </p>
            <p>
                {{ 'shop24.email.common.yours'|trans }}, <br>
                {{ channel.name }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
