{% extends 'Email/layout.html.twig' %}

{% block subject %}
    {{ 'app.email.payment.subject'|trans({}, 'messages', order.localeCode) }}
{% endblock %}

{% block content %}
    {% set channel = order.channel %}
    {% autoescape %}
        <div style="">
            <p>
                {{ 'shop24.email.common.hello'|trans({}, 'messages', order.localeCode) }} {{ order.customer.email }},
            </p>
            <p>
                {{ 'app.email.payment.payment_received'|trans({}, 'messages', order.localeCode) }}: <b>#{{ order.number }}</b>
            </p>
            <br>
                {{ 'app.email.payment.order_in_processing'|trans({}, 'messages', order.localeCode) }}
            </p>
            <p>
                {{ 'shop24.email.common.yours'|trans({}, 'messages', order.localeCode) }}, <br>
                {{ channel.name }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
