{% extends 'Email/layout.html.twig' %}

{% block content %}
    <h2>{{ 'app.quote.new_quote'|trans }}</h2>

    <p>
        {{ 'app.quote.new_quote_message'|trans }}
    </p>

    <table>
        <tr>
            <td>{{ 'app.form.email'|trans }}</td>
            <td>{{ quote.email }}</td>
        </tr>
        <tr>
            <td>{{ 'app.form.name'|trans }}</td>
            <td>{{ quote.name }}</td>
        </tr>
        <tr>
            <td>{{ 'app.form.phone'|trans }}</td>
            <td>{{ quote.phone }}</td>
        </tr>
        <tr>
            <td>{{ 'app.form.product_code'|trans }}</td>
            <td>{{ quote.product }}</td>
        </tr>
        <tr>
            <td>{{ 'app.quote.deadline'|trans }}</td>
            <td>{% if quote.deadline %} {{ quote.deadline.format('Y-m-d') }} {% else %} -- {% endif %}</td>
        </tr>
        <tr>
            <td>{{ 'app.form.quantity'|trans }}</td>
            <td>{{ quote.quantity }}</td>
        </tr>
    </table>

    <h2 style="margin-top: 15px">{{ 'app.quote.note'|trans }}</h2>
    <p>
        {{ quote.note }}
    </p>
{% endblock %}
