{% extends 'Email/layout.html.twig' %}

{% block subject %}
    {{ 'app.email.shipment.ready_subject'|trans({}, 'messages', order.localeCode) }}
{% endblock %}

{% block content %}
    {% set channel = order.channel %}
    {% autoescape %}
        <div style="">
            <p>
                {{ 'shop24.email.common.hello'|trans({}, 'messages', order.localeCode) }} {{ order.customer.email }},
            </p>
            <p>
                {{ 'app.email.shipment.shipment_ready'|trans({}, 'messages', order.localeCode) }}: <b>#{{ order.number }}</b>
            </p>
            <br>
                {{ 'app.email.shipment.pick_up_from'|trans({}, 'messages', order.localeCode) }}:</br>
                {{ shipment.method.translation.instructions|replace({'\n': '</br>'})|raw }}
            </p>
            <p>
                {{ 'shop24.email.common.yours'|trans({}, 'messages', order.localeCode) }}, <br>
                {{ channel.name }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
