{% extends 'Email/layout.html.twig' %}

{% block subject %}
    {{ 'app.email.shipment_confirm.subject'|trans({}, 'messages', order.localeCode) }}
{% endblock %}

{% block content %}
    {% autoescape %}
        <p>
            {{ 'app.email.shipment_confirm.your_order'|trans({}, 'messages', order.localeCode) }} <b>{{ order.number }}</b> {{ 'app.email.shipment_confirm.was_sent'|trans({}, 'messages', order.localeCode) }}
            ({{ 'app.email.shipment_confirm.shipping_method'|trans({}, 'messages', order.localeCode) }}: {{ shipment.method }}).

        {% if shipment.tracking %}
            <br/>
            {{ 'app.email.shipment_confirm.tracking'|trans({}, 'messages', order.localeCode) }}: <b>"{{ shipment.tracking }}"</b>.
        {% endif %}
        </p>

        <p style="margin-top: 20px">
            {{ 'app.email.order_confirm.thank_you'|trans({}, 'messages', order.localeCode) }}
        </p>
    {% endautoescape %}
{% endblock %}
