{% extends 'Email/layout.html.twig' %}

{% block subject %}
    {{ 'sylius.emails.user_registration.subject'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'app.email.user.register_header'|trans }}</h2>
    <p>
        {{ 'app.email.user.register_thank_you'|trans }}
    </p>
    <p>
        {{ 'shop24.email.common.yours'|trans }}, <br>
        {{ channel.name }}
    </p>
{% endblock %}
