{% extends 'Email/layout.html.twig' %}

{% block subject %}
    {{ 'sylius.emails.user.verification_token.subject'|trans }}
{% endblock %}

{% block content %}
    {% set url = channel.hostname is not null ? url_scheme ~ '://' ~  channel.hostname ~ path('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) : url('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) %}
    {% autoescape %}
        <p>
            {{ 'app.email.user.verify'|trans }}: <a href="{{ url|raw }}">{{ url|raw }}</a>
        </p>
    {% endautoescape %}
    <p>
        {{ 'shop24.email.common.yours'|trans }}, <br>
        {{ channel.name }}
    </p>
{% endblock %}
