<div id="shipping-methods">
    <h1 class="mb-4">{{ 'sylius.ui.shipment'|trans }} #{{ loop.index }}</h1>
    <div>
        {{ form_errors(form.method) }}

        {% for key, choice_form in form.method %}
            {% set fee = form.method.vars.shipping_costs[choice_form.vars.value] %}
            {% set method = form.method.vars.choices[key].data %}
            {% include '@SyliusShop/Checkout/SelectShipping/_choice.html.twig' with {'form': choice_form, 'method': method, 'fee': fee} %}
        {% else %}
            {% include '@SyliusShop/Checkout/SelectShipping/_unavailable.html.twig' %}
        {% endfor %}

        {% if form.parcelMachine is defined %}
            {{ form_row(form.parcelMachine) }}
        {% endif %}
    </div>
</div>
